{% extends "base.html" %}
{% block media %}
{% endblock %}

{% block title_ruler %}{% endblock %}

{% block title_row %}
    {% set tab = 'runtimes' %}
    {% include "status/status-tabs.html" %}
{% endblock %}

{% block body %}
    <div class="scroll-x">
        <table class="ui table unstackable striped celled">
            <thead>
            <tr>
                <th>{{ _('ID') }}</th>
                <th>{{ _('Name') }}</th>
                <th>{{ _('Runtime Info') }}</th>
            </tr>
            </thead>
            <tbody>
            {% for language in languages %}
                {% if language.runtime_versions %}
                    <tr>
                        <td>{{ language.short_display_name }}</td>
                        <td class="language">{{ language.name }}</td>
                        <td class="info">
                            <code>{{ runtime_versions(language.runtime_versions()) }}</code>
                            {% if language.description %}
                                <div class="content-description markdown-body">
                                    {% cache 86400 'language_html' language.id %}
                                        {{ language.description|markdown('language') }}
                                    {% endcache %}
                                </div>
                            {% endif %}
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
