{% macro make_tab(name, fa, url, text) %}
    <a href="{{ url }}" class="item{% if tab == name %} active{% endif %}">
        <i class="icon {{ fa }}"></i>
        {{ text }}
    </a>
{% endmacro %}

<h2 class="ui header">{{ content_title or title }}</h2>
<div class="ui secondary large pointing menu stackable" style="margin-bottom: 10px">
    {{ make_tab('home', 'info', url('organization_home', organization.pk, organization.slug), _('Home')) }}
    {{ make_tab('users', 'university', organization.get_users_url(), _('Users')) }}
    {{ make_tab('problem-list', 'puzzle', url('problem_list_organization', organization.pk, organization.slug), _('Problems list')) }}
    {{ make_tab('contest-list', 'trophy', url('contest_list_organization', organization.pk, organization.slug), _('Contests list')) }}
    {{ make_tab('submission-list', 'list', url('submission_list_organization', organization.pk, organization.slug), _('Submissions')) }}
    <span style="flex: 1"></span>
    {% if organization.is_admin(request.profile) %}
        {% if request.user.has_perm('judge.create_organization_problem') %}
            {{ make_tab('create', 'plus', url('problem_create_organization', organization.id, organization.slug), _('Create new problem')) }}
        {% endif %}
        {% if request.user.has_perm('judge.create_private_contest') %}
            {{ make_tab('create', 'plus', url('contest_create_organization', organization.id, organization.slug), _('Create new contest')) }}
        {% endif %}
    {% endif %}
</div>
