{% extends "base.html" %}

{% block body %}
    {% if validlink %}
        <form action="" method="post" class="form-area ui form container">
            {% csrf_token %}
            <table class="django-as-table">{{ form.as_table() }}</table>
            <hr class="ui divider">
            <button type="submit" class="ui button primary">{{ _('Reset Password') }}</button>
        </form>
    {% else %}
        <div class="ui container">
            <div class="ui message yellow icon">
                <i class="icon warning"></i>
                <div class="content">
                    {{ _('Invalid password reset link.') }}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
