<div class="ui message red icon">
    <i class="warning sign icon"></i>
    <div class="content">
        {% if request.user == submission.user.user %}
            <div class="header">
                {{ _('An internal error occurred while grading, and the %(site_name)s administrators have been notified.', site_name=SITE_NAME) }}
            </div>
            {{ _('In the meantime, try resubmitting in a few seconds.') }}
        {% else %}
            {{ _('An internal error occurred while grading.') }}
        {% endif %}
    </div>
</div>

{% if submission.error and request.user.is_authenticated %}
    {% if submission.problem.is_editable_by(request.user) %}
        <hr style="float:left;width:30%"><br>
        <h4>{{ _('Error information') }}</h4>
        <pre class="scroll-x"><code>{{ submission.error|highlight('pytb') }}</code></pre>
    {% endif %}
{% endif %}
