{% set can_view, can_edit = submission_layout(submission, profile_id, request.user, completed_problem_ids, editable_problem_ids, tester_problem_ids) %}
<td class="sub-result {{ submission.result_class }}" style="min-width: 80px; position: relative">
    <div class="state" style="display: flex; justify-content: center;">
        {#        <span title="{{ submission.long_status }}" class="status ui mini label basic">#}
        {#        </span>#}
        {#        <span class="language ui label mini basic">{{ submission.language.short_display_name }}</span>#}
        {#        <span class="ui label mini horizontal black" style="text-align: center;">#}
        {%- if submission.is_graded -%}
            {%- if submission.status in ('IE', 'CE', 'AB') -%}
                <i class="icon help"></i>
            {%- else -%}
                {{ submission.short_status }}
                {#                        {{ submission.case_points|floatformat(-3) }} / {{ submission.case_total|floatformat(0) }}#}
            {%- endif -%}
        {%- else -%}
            <i class="ui loader active inline"></i>
        {%- endif -%}
        {#    </span>#}
    </div>

</td>
{% set can_view_testcase_status = request.user.is_superuser or submission.problem.testcase_result_visibility_mode == 'A' %}
<td class="sub-main">
    <div class="ui header sub-info{% if submission.status == 'G' %} sub-info-grading{% endif %}">
        {% if show_problem %}
            <a class="content" href="{{ url('problem_detail', submission.problem.code) }}" style="margin-bottom: 5px;">
                {% if submission.is_locked %}
                    <i class="icon lock"></i>
                {% endif %}
                {{ problem_name }}
            </a>
        {% endif %}
        <div class="sub header" style="display: flex; align-items: center; gap: 5px">
            {{ link_user(submission.user) }}
            <span class="time">{{ relative_time(submission.date) }}</span>
            {% if not request.in_contest and submission.contest_object_id %}
                <a href="{{ url('contest_view', submission.contest_object.key) }}"
                   class="submission-contest">
                    <i title="{{ submission.contest_object.name }}" class="icon dot circle"></i>
                </a>
            {% endif %}
        </div>
    </div>

    <div style="display: flex; align-items: center; margin-bottom: 10px;">
        <span class="language ui label circular orange">
            <i class="icon code"></i>
            {{ submission.language.short_display_name }}
        </span>
        {% if submission.is_graded and misc_config.show_submissions_score %}
            <span class="ui label circular black" style="text-align: center;">
                {{ submission.case_points|floatformat(-3) }} / {{ submission.case_total|floatformat(0) }}
            </span>
        {% endif %}
    </div>

    {% if submission.status == 'G' and can_view_testcase_status %}
        <div class="sub-testcase ui label" style="margin-bottom: 5px;">
            {%- if submission.current_testcase > 0 -%}
                {{ _('Case #%(case)s', case=submission.current_testcase) }}
            {%- else -%}
                ...
            {%- endif -%}
        </div>
    {% endif %}


    {% if can_view %}
        <div class="sub-prop" style="display: flex; align-items: center; gap: 5px; flex-wrap: wrap">
            <div class="ui buttons mini basic compact">
            <a class="ui button" href="{{ url('submission_status', submission.id) }}">
                <i class="icon eye"></i>
                {{ _('view') }}
            </a> ·
            {% if not submission.language.file_only %}
                <a class="ui button" href="{{ url('submission_source', submission.id) }}">
                    <i class="icon code"></i>
                    {{ _('source') }}
                </a>
            {% else %}
                <a class="ui button" href="{{ url('submission_source_download', submission.id) }}">
                    <i class="icon download"></i>
                    {{ _('download') }}
                </a>
            {% endif %}
        </div>

        {% if can_edit %}
            <div class="ui buttons mini compact blue">
                {% if perms.judge.rejudge_submission and can_edit %} ·
                    {% if not submission.is_locked %}
                        <a href="#" class="ui button"
                            onclick="rejudge_submission({{ submission.id }}, event);return false">
                            <i class="icon refresh"></i>
                            {{ _('rejudge') }}
                        </a>
                    {% else %}
                        <div class="ui button disabled"
                                title="{{ _('This submission has been locked, and cannot be rejudged.') }}">
                            <i class="icon lock"></i>
                            {{ _('locked') }}
                        </div>
                    {% endif %}
                {% endif %}
                {% if can_edit %}
                    {% if not submission.language.file_only %} ·
                        <a class="ui button"
                            href="{{ url('problem_submission_diff', submission.problem.code) }}?username={{ submission.user.user.username }}&highlight={{ submission.id }}">
                            <i class="icon copy outline"></i>
                            {{ _('diff') }}
                        </a>
                    {% endif %}
                    {% if request.user.is_superuser %} ·
                        <a class="ui button" href="{{ url('admin:judge_submission_change', submission.id) }}">
                            <i class="icon cog"></i>
                            {{ _('admin') }}
                        </a>
                    {% endif %}
                {% endif %}
                </div>
            </div>
        {% endif %}
    {% endif %}
</td>


<td class="sub-usage" style="text-align: center;">
    {% if submission.status in ('QU', 'P', 'G', 'CE', 'IE', 'AB') or not can_view_testcase_status %}
        <div class="time">
            <i class="icon help"></i>
        </div>
        <div class="memory">
            <i class="icon help"></i>
        </div>
    {% else %}
        {% if "TLE" != submission.result %}
            <div style="margin-bottom: 5px;">
                <div title="{{ submission.time or 0 }}s" class="ui label icon mini">
                    <i class="icon clock"></i>
                    {{ (submission.time or 0)|floatformat(2) }}s
                </div>
            </div>
        {% else %}
            <div class="time">
                <i class="icon help"></i>
            </div>
        {% endif %}
        {# No one actually likes IEC prefixes, Jinja2. #}
        <div>
            <div class="ui label mini">
                <i class="icon database"></i>
                {{ (submission.memory_bytes|filesizeformat(True)).replace('i', '') }}
            </div>
        </div>
    {% endif %}
</td>
