{% extends "submission/info-base.html" %}
{% block media %}
    <style>
        .line {
            position: relative;
        }

        .highlighter {
            position: absolute;
            width: 9999px;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }

        a:active .line .highlighter {
            background: rgba(255, 212, 0, 0.48);
        }

    </style>
{% endblock %}

{% block js_media %}
    {% compress js %}
        <script src="{{ static('libs/clipboard/clipboard.js') }}"></script>
        <script src="{{ static('libs/clipboard/tooltip.js') }}"></script>
        <script type="text/javascript">
            $(function () {
                $(document).find('pre code').each(function () {
                    var copyButton;
                    $(this).closest('.source-wrap').before($('<div>', {'class': 'copy-clipboard'})
                        .append(copyButton = $('<span>', {
                            'class': 'btn-clipboard',
                            'data-clipboard-text': $(this).text(),
                            'title': 'Click to copy'
                        }).html('<i class="icon copy"></i> {{ _('Copy') }}')));

                    $(copyButton.get(0)).mouseleave(function () {
                        $(this).attr('class', 'btn-clipboard');
                        $(this).removeAttr('aria-label');
                    });

                    var curClipboard = new Clipboard(copyButton.get(0));

                    curClipboard.on('success', function (e) {
                        e.clearSelection();
                        showTooltip(e.trigger, 'Copied!');
                    });

                    curClipboard.on('error', function (e) {
                        showTooltip(e.trigger, fallbackMessage(e.action));
                    });
                });
            });
        </script>
    {% endcompress %}
    {% block content_js_media %}{% endblock %}
{% endblock %}

{% block body %}
    <hr class="ui divider"/>
    <div class="ui grid stackable">
        <div class="column five wide">
            <div class="ui segment">
                <div class="ui list relaxed divided">
                    <a class="item" href="{{ url('submission_status', submission.id) }}">
                        <i class="icon check"></i>
                        <div class="content">
                            <div class="header">
                                {{ _('View status') }}
                            </div>
                        </div>
                    </a>
                    <a class="item" href="{{ url('submission_source_raw', submission.id) }}">
                        <i class="icon file code outline"></i>
                        <div class="content">
                            <div class="header">
                                {{ _('View raw source') }}
                            </div>
                        </div>
                    </a>
                    {% if (request.user == submission.user.user or perms.judge.resubmit_other) and not submission.language.file_only %}
                        <a class="item" href="{{ url('problem_submit', submission.problem.code, submission.id) }}">
                            <i class="icon upload"></i>
                            <div class="content">
                                <div class="header">
                                    {{ _('Resubmit') }}
                                </div>
                            </div>
                        </a>
                    {% endif %}
                    {% set can_edit = submission.problem.is_editable_by(request.user) %}
                    {% if perms.judge.rejudge_submission and can_edit and not submission.is_locked %}
                        <a href="#" onclick="$('#re-judge').submit()" class="item">
                            <i class="icon refresh"></i>
                            <div class="content">
                                <div class="header">
                                    {{ _('Rejudge') }}
                                </div>
                            </div>
                        </a>
                        <form action="{{ url('submission_rejudge') }}" method="post" id="re-judge">
                            {% csrf_token %}
                            <input type="hidden" name="id" value="{{ submission.id }}">
                            <input type="hidden" name="path" value="{{ url('submission_status', submission.id) }}">
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="column eleven wide">
            <div class="ui segment">
                <div class="source-wrap scroll-x">
                    <table>
                        <tr>
                            <td class="source-ln">
                                <div>
                                    {% for line in raw_source.split('\n') %}
                                        <a href="#line-{{ loop.index }}" name="line-{{ loop.index }}">
                                            <pre class="line">{{ loop.index }}</pre>
                                        </a>
                                    {% endfor %}
                                </div>
                            </td>
                            <td class="source-code">{{ highlighted_source }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
