{% extends "base.html" %}
{% block title_ruler %}{% endblock %}

{% block title_row %}
    {% set tab = 'calendar' %}
    {% include "contest/contest-list-tabs.html" %}
{% endblock %}

{% block body %}
    <table class="ui table unstackable bordered striped fixed celled">
        <tr>
            <th>{{ _('Sunday') }}</th>
            <th>{{ _('Monday') }}</th>
            <th>{{ _('Tuesday') }}</th>
            <th>{{ _('Wednesday') }}</th>
            <th>{{ _('Thursday') }}</th>
            <th>{{ _('Friday') }}</th>
            <th>{{ _('Saturday') }}</th>
        </tr>
        {% for week in calendar %}
            <tr>{% for day in week %}
                <td class="{% if day.is_today %}positive{% endif %}{% if day.is_pad %} negative{% endif %}">
                    <span class="num">{{ day.date.day }}</span>
                    <div class="ui list relaxed divided">
                        {% for contest in day.starts %}
                            <a class="item" href="{{ url('contest_view', contest.key) }}">
                                <i class="icon forward"></i>
                                <div class="content">
                                    <div class="header">
                                        {{ contest.name }}
                                    </div>
                                </div>
                            </a>
                        {% endfor %}
                        {% for contest in day.oneday %}
                            <a class="item" href="{{ url('contest_view', contest.key) }}">
                                <i class="icon play"></i>
                                <div class="content">
                                    <div class="header">
                                        {{ contest.name }}
                                    </div>
                                </div>
                            </a>
                        {% endfor %}
                        {% for contest in day.ends %}
                            <a class="item" href="{{ url('contest_view', contest.key) }}">
                                <i class="icon backward"></i>
                                <div class="content">
                                    <div class="header">
                                        {{ contest.name }}
                                    </div>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                </td>
            {% endfor %}</tr>
        {% endfor %}
    </table>
{% endblock %}
