{% extends "base.html" %}

{% block media %}
    <style>
    </style>
{% endblock %}

{% block body %}
    <form id="contest-clone-panel" action="" method="post" class="ui form">
        {% csrf_token %}
        {% if form.errors %}
            <div id="form-errors">
                {{ form.key.errors }}
            </div>
        {% endif %}

        <div><label class="inline-header grayed">{{ _('Enter a new key for the cloned contest:') }}</label></div>
        <div id="contest-key-container"><span class="fullwidth">{{ form.key }}</span></div>
        <hr>
        <button class="ui button green" type="submit">{{ _('Clone!') }}</button>
    </form>
{% endblock %}
