{% extends "tabs-base.html" %}

{% block post_tab_spacer %}
    {% if tab == 'calendar' %}
        <div class="ui buttons">
            {% if prev_month %}
                <a class="ui button" href="{{ url('contest_calendar', prev_month.year, prev_month.month) }}">
                    <i class="icon angle left"></i> {{ _('Prev') }}
                </a>
            {% endif %}
            {% if not (curr_month.year == now.year and curr_month.month == now.month) %}
                <a class="ui button" href="{{ url('contest_calendar', now.year, now.month) }}"> {{ _('Today') }}</a>
            {% endif %}
            {% if next_month %}
                <a class="ui button" href="{{ url('contest_calendar', next_month.year, next_month.month) }}">
                    {{ _('Next') }} <i class="icon angle right"></i>
                </a>
            {% endif %}
            {% if prev_month or next_month %}|{% endif %}

            <a class="ui button primary" href="{{ url('contest_ical') }}">
                <i class="icon download"></i>{{ _("Export") }}
            </a>
        </div>
    {% endif %}
{% endblock %}

{% block tabs %}
    {% if hide_private_contests is not none %}
        <div class="ui checkbox" style="padding: 10px">
            <input id="hide-private-contests-checkbox" type="checkbox">
            <label for="hide-private-contests-checkbox">{{ _('Hide private contests') }}</label>
        </div>
    {% endif %}
    {% if perms.judge.add_contest %}
        {{ make_tab('new', 'plus', url('contest_new'), _('Add new contest')) }}
    {% endif %}
    {{ make_tab('list', 'list', url('contest_list'), _('List')) }}
    {{ make_tab('calendar', 'calendar', url('contest_calendar', now.year, now.month), _('Calendar')) }}
    {% if request.user.is_staff and (perms.judge.edit_all_contest or perms.judge.edit_own_contest) %}
        {{ make_tab('admin', 'cog', url('admin:judge_contest_changelist'), _('Admin')) }}
    {% endif %}
{% endblock %}
