{% extends "base.html" %}

{% block js_media %}
    {{ form.media.js }}
    <script type="text/javascript">
        $(function () {
            function check($obj, duration) {
                var group = $obj.parent().find('.form-group');
                if ($obj.is(':checked')) {
                    group.fadeIn(duration);
                } else {
                    group.fadeOut(duration);
                }
            }
            $('#id_submission_download').change(function () {
                check($(this), 300);
            });
            $('#prepare-download').click(function () {
                return confirm("{{ _('Are you sure you want to prepare a download?') }}");
            });
        });
        $(document).ready(function () {
            $('.time-remaining').each(function () {
                count_down($(this));
            });
        });
    </script>
{% endblock %}

{% block body %}
    <div class="ui container">
        {% if in_progress_url %}
            <div class="ui message yellow icon">
                <div class="ui active inline loader" style="margin-right: 10px;"></div>
                <div class="content">
                    {{ _('We are currently preparing the contest data.') }}
                </div>
            </div>
            <a class="ui button success" href="{{ in_progress_url }}">
                {{ _('Track progress') }}
            </a>
        {% elif can_prepare_data %}
            <div class="ui message yellow">
                <div class="content">
                    {% set duration=ratelimit|timedelta %}
                    {{ _('You may only prepare a new data download once every %(duration)s.', duration=duration) }}
                    <br>
                    {{ _('Once the contest data is ready, you will find a download link on this page.') }}
                </div>
            </div>
            <form id="download-data-form" action="" method="post" class="ui form">
                {% if form.non_field_errors() %}
                    <div class="ui message red">
                        <a href="#" class="icon close">
                            <i class="icon close"></i>
                        </a>

                        <div class="content">
                            {{ form.non_field_errors() }}
                        </div>
                    </div>
                {% endif %}
                {% csrf_token %}
                <h3 class="ui header">
                    {{ _('Submissions') }}
                </h3>
                <div class="field">
                    {{ form.submission_download.label }}
                    {{ form.submission_download }}
                </div>
                <div class="form-group" style="display: none;">
                    <div class="form-field">
                        <div>{{ form.submission_problem_glob.label }}</div>
                        <div>{{ form.submission_problem_glob }}</div>
                    </div>
                    <div class="form-field">
                        <div>{{ form.submission_results.label }}</div>
                        <div>{{ form.submission_results }}</div>
                    </div>
                </div>
                <div id="submit-bar" class="form-submit-group">
                    <button id="prepare-download" type="submit" class="ui button">
                        <i class="icon file"></i>
                        {% if can_download_data %}
                            {{ _('Prepare new download') }}
                        {% else %}
                            {{ _('Prepare download') }}
                        {% endif %}
                    </button>

                    {% if can_download_data %}
                        <a class="ui button green"
                           href="{{ url('contest_download_data', contest.key) }}">
                            <i class="icon download"></i>
                            {{ _('Download prepared data') }}
                        </a>
                    {% endif %}
                </div>
            </form>
        {% else %}
            <div class="ui message info">
                <div class="content">
                    <div class="header">
                        {{ _('Your data is ready!') }}
                    </div>
                    {{ _('You will need to wait %(countdown)s to prepare a new data download.', countdown=as_countdown(time_until_can_prepare)) }}
                </div>
            </div>
            <a class="ui button green" href="{{ url('contest_download_data', contest.key) }}">
                <i class="icon download"></i>
                {{ _('Download data') }}
            </a>
        {% endif %}
    </div>
{% endblock %}
