{% extends "base.html" %}

{% block body %}
    {% if error.is_private %}
        <div class="ui message black">
            <div class="content">
                {{ _('This contest is private to specific users.') }}
            </div>
        </div>
    {% endif %}

    {% if error.is_organization_private %}
        <div class="ui message yellow">
            <div class="content">
                <div class="header">
                    {% if error.is_private %}
                        <p>{{ _('Additionally, only the following organizations may access this contest:') }}</p>
                    {% else %}
                        <p>{{ _('Only the following organizations may access this contest:') }}</p>
                    {% endif %}
                </div>
                <ul>
                    {% for org in error.orgs %}
                        <li><a href="{{ org.get_absolute_url() }}">{{ org.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}
{% endblock %}
