{% extends "ticket/new.html" %}

{% block guideline_message %}
    {% if not request.in_contest %}
        <div class="ui message yellow">
            <a class="icon close">
                <i class="icon close"></i>
            </a>
            <div class="content">
                <div class="header">{{ _('Thanks for opening a ticket!') }}</div>
                {{ _('Please keep in mind that this form is for reporting issues with a problem statement, and not for asking for help. If you require assistance on solving a problem, ask in the comments instead.') }}

            </div>
        </div>
    {% endif %}
{% endblock %}