{% extends "base.html" %}
{% block media %}{{ form.media.css }}{% endblock %}

{% block js_media %}
    {{ form.media.js }}
    <script src="{{ static('libs/featherlight/featherlight.min.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            var $h2 = $('#content').find('> h2:first-child');
            var $vote_status = $h2.find('.vote-status i'), $status = $h2.find('.status i'), $title = $h2.find('.title');

            function update_ticket_state(open) {
                if (open)
                    $status.removeClass('check').removeClass('green').addClass('warning').addClass('red');
                else
                    $status.removeClass('warning').removeClass('red').addClass('check').addClass('green');
                $('.close-ticket').toggle(open);
                $('.open-ticket').toggle(!open);
            }

            function update_ticket_vote(contributive) {
                if (contributive)
                    $vote_status.removeClass('minus').addClass('angle').addClass('up').addClass('green');
                else
                    $vote_status.removeClass('up').removeClass('angle').removeClass('green').addClass('minus');
                $('.vote-norm').toggle(contributive);
                $('.vote-good').toggle(!contributive);
            }

            $('.close-ticket, .open-ticket').click(function () {
                var open = $(this).attr('data-open') == '1';
                $.ajax({
                    url: $(this).attr('data-ajax'), type: 'POST',
                    success: function () {
                        update_ticket_state(open);
                    },
                    error: function (data) {
                        _alert('{{ _('Could not change ticket: {error}') }}'.replace('{error}', data.responseText));
                    }
                });
            });

            $('.vote-good, .vote-norm').click(function () {
                var contributive = $(this).attr('data-contributive') == '1';
                $.ajax({
                    url: $(this).attr('data-ajax'), type: 'POST',
                    success: function () {
                        update_ticket_vote(contributive);
                    },
                    error: function (data) {
                        _alert('Could not change ticket: ' + data.responseText);
                    }
                });
            });

            $('.edit-notes').featherlight({
                afterOpen: function () {
                    var $form = $('#edit-notes');
                    $form.find('.submit').click(function () {
                        $.post($form.attr('action'), $form.serialize()).done(function (data) {
                            $('#ticket-notes').find('.info-empty').toggle(!data).end().find('.info-real').html(data);
                            $.featherlight.current().close();
                        });
                        return false;
                    });
                }
            });

            var page_ref_key = 'ticket:open:{{ ticket.id }}', page_close_key = page_ref_key + ':close';
            var page_ref;

            function increase_page_ref() {
                if (page_ref_key in localStorage)
                    localStorage[page_ref_key] = page_ref = +localStorage[page_ref_key] + 1;
                else
                    localStorage[page_ref_key] = page_ref = 1;
            }

            function decrease_page_ref() {
                if (page_ref_key in localStorage) {
                    localStorage[page_close_key] = page_ref;
                    delete localStorage[page_close_key];
                    localStorage[page_ref_key] = +localStorage[page_ref_key] - 1;
                }
                page_ref = null;
            }

            function is_highest_ref() {
                console.log(localStorage[page_ref_key], page_ref);
                if (page_ref_key in localStorage)
                    return +localStorage[page_ref_key] == page_ref;
                return true;
            }

            $(window).on('storage', function (e) {
                e = e.originalEvent;
                if (e.key == page_close_key && e.newValue !== null)
                    if (page_ref != null && page_ref > +e.newValue)
                        --page_ref;
            });

            register_notify('ticket', {
                change: function (enabled) {
                    if (enabled)
                        increase_page_ref();
                }
            });

            $(window).on('beforeunload', function () {
                decrease_page_ref();
            });

            function ticket_status(ticket) {
                update_ticket_state(ticket.open);
                if (is_highest_ref())
                    notify('ticket', (ticket.open ? '{{ _('Reopened: ') }}' :
                        '{{ _('Closed: ') }}') + $title.text());
            }

            function ticket_message(ticket) {
                console.log('Fetching data for: ' + ticket.message);
                $.ajax({
                    url: '{{ url('ticket_message_ajax', ticket.id) }}',
                    data: {message: ticket.message},
                    success: function (data) {
                        console.log('Got data for: ' + ticket.message);
                        console.log(data);
                        $('#messages').append($(data.message));
                    },
                    error: function (data) {
                        if (data.status === 403)
                            console.log('No right to see: ' + ticket.message);
                        else {
                            console.log('Could not load ticket message:');
                            console.log(data.responseText);
                        }
                    }
                });
            }

            window.load_dynamic_update = function () {
                event_dispatcher.auto_reconnect = true;
                event_dispatcher.on('ticket-{{ ticket.id }}', function (message) {
                        console.log(message);
                        switch (message.type) {
                            case 'ticket-status':
                                ticket_status(message);
                                break;
                            case 'ticket-message':
                                ticket_message(message);
                                break;
                        }
                    }
                );
            }
        });
    </script>

    {% if EVENT_LAST_MSG %}
        <script type="text/javascript">
            $(function () {
                load_dynamic_update();
            });
        </script>
    {% endif %}
{% endblock %}

{% block content_title %}
    <div class="ticket-title">
        <div class="vote-status ui button circular icon basic">
            <i class="icon {% if ticket.is_contributive %}arrow up green{% else %}minus{% endif %}"></i>
        </div>
        <div class="status ui button circular icon basic">
            <i class="icon circle {% if ticket.is_open %}warning red{% else %}check red{% endif %}"></i>
        </div>
        <div class="ui header">
            <div class="content">
                {{ ticket.title }} <small class="sub header">#{{ ticket.id }}</small>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="ticket-container ui container">
        <div class="ticket-messages">
            <main id="messages" class="ui comments">
                {% for message in ticket_messages %}
                    {% include "ticket/message.html" %}

                    <hr class="ui divider"/>
                {% endfor %}
            </main>

            <div class="ui comments">
                <section class="ticket-message new-message comment">
                    <a href="{{ url('user_page', request.user.username) }}" class="avatar">
                        <img src="{{ gravatar(request.user, 80) }}">
                    </a>
                    <div class="content">
                        <form action="" method="post">
                            {% csrf_token %}
                            {% if form.non_field_errors() or form.body.errors %}
                                <div class="form-errors">
                                    {{ form.non_field_errors() }}
                                    {{ form.body.errors }}
                                </div>
                            {% endif %}
                            <div class="body-block">{{ form.body }}</div>
                            <input style="float:right" type="submit" value="{{ _('Post!') }}" class="ui button primary">
                        </form>
                    </div>
                </section>
            </div>
        </div>
        <aside class="ticket-sidebar">
            <div class="ui list relaxed divided">
                <div class="item">
                    <div class="content">
                        <div class="header">
                            {{ _('Associated object') }}
                        </div>
                        <a href="{{ ticket.linked_item.get_absolute_url() }}">{{ ticket.linked_item }}</a>
                    </div>
                </div>
                <div class="item">
                    <div class="content">
                        <div class="header">
                            {% trans trimmed count=assignees|length %}
                                Assignee
                                {% pluralize %}
                                Assignees
                            {% endtrans %}
                        </div>
                        <p>
                            {% if assignees %}
                                {{ link_users(assignees) }}
                            {% else %}
                                <div class="info-empty">{{ _('No one is assigned.') }}</div>
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>

            {% if perms.judge.change_ticket or request.profile in assignees %}
                <div class="info-box">
                    <h3 class="ui header">
                        <a href="#" data-featherlight="{{ url('ticket_notes', ticket.id) }}"
                           class="edit-notes ui button yellow">
                            <i class="icon pencil"></i>
                            {{ _('Assignee notes') }}
                        </a>
                    </h3>

                    <div id="ticket-notes" class="info-data">
                        <div{% if ticket.notes %} style="display: none"{% endif %} class="info-empty">
                            {{ _('Nothing here.') }}
                        </div>
                        <div class="info-real">{{ ticket.notes|linebreaks }}</div>
                    </div>

                    <hr class="ui divider"/>
                </div>

                <button data-ajax="{{ url('ticket_good', ticket.id) }}" data-contributive="1"
                        class="vote-good ui button blue"
                        {% if ticket.is_contributive %}style="display: none"{% endif %}>
                    <i class="icon angle up"></i>
                    {{ _('Upvote') }}
                </button>
                <button data-ajax="{{ url('ticket_norm', ticket.id) }}" data-contributive="0"
                        class="vote-norm ui button blue basic"
                        {% if not ticket.is_contributive %}style="display: none"{% endif %}>
                    <i class="icon angle down"></i>
                    {{ _('Undo vote') }}
                </button>
            {% endif %}

            <button data-ajax="{{ url('ticket_close', ticket.id) }}" data-open="0"
                    class="close-ticket ui button green"
                    {% if not ticket.is_open %}style="display: none"{% endif %}>
                {{ _('Close ticket') }}
            </button>
            <button data-ajax="{{ url('ticket_open', ticket.id) }}" data-open="1"
                    class="open-ticket ui button violet basic"
                    {% if ticket.is_open %}style="display: none"{% endif %}>
                {{ _('Reopen ticket') }}
            </button>
        </aside>
    </div>
{% endblock %}

{% block bodyend %}
    {% if REQUIRE_JAX %}
        {% include "mathjax-load.html" %}
    {% endif %}
{% endblock %}
