{% extends "base.html" %}

{% block media %}
    <style>
    </style>
{% endblock %}

{% block body %}
    <form id="problem-clone-panel" action="" method="post" class="form-area ui form">
        {% csrf_token %}
        {% if form.errors %}
            <div id="form-errors">
                {{ form.code.errors }}
            </div>
        {% endif %}

        <div><label class="inline-header grayed">{{ _('Enter a new code for the cloned problem:') }}</label></div>
        <div id="problem-code-container"><span class="fullwidth">{{ form.code }}</span></div>
        <hr class="ui divider">
        <button class="ui button" type="submit">{{ _('Clone!') }}</button>
    </form>
{% endblock %}
