{% extends "common-content.html" %}
{% block content_media %}
    {% if not comment_lock %}
        {% include "comments/media-css.html" %}
    {% endif %}
    <style>
        #raw_problem {
            visibility: hidden;
            width: 0;
            height: 0;
            position: absolute;
            left: -999em;
        }
    </style>
{% endblock %}

{% block content_js_media %}
    {% if not comment_lock %}
        {% include "comments/media-js.html" %}
    {% endif %}
    <script type="text/javascript">
        $(function () {
            $('#pdf_button').click(async function (e) {
                e.preventDefault();
                if (!$('#raw_problem').attr("src"))
                    $('#raw_problem').attr("src", "{{problem.code}}/raw");

                while (!$('.math-loaded', frames['raw_problem'].document).length) {
                    await new Promise(r => setTimeout(r, 200));
                }
                frames['raw_problem'].print();
            });
        });
    </script>
{% endblock %}

{% block title_row %}
    <div class="ui title">
        <h2 class="content">
            {% if request.user.is_authenticated %}
                {% if problem.id in completed_problem_ids %}
                    <a href="{{ url('user_submissions', problem.code, request.user.username) }}"
                       class="ui button icon circular green">
                        {% if problem.is_public or request.in_contest %}
                            <i class="icon circle check"></i>
                        {% else %}
                            <i class="icon lock"></i>
                        {% endif %}
                    </a>
                {% elif problem.id in attempted_problems %}
                    <a href="{{ url('user_submissions', problem.code, request.user.username) }}"
                       class="ui button icon circular orange">
                        {% if problem.is_public or request.in_contest %}
                            <i class="icon frown"></i>
                        {% else %}
                            <i class="icon lock"></i>
                        {% endif %}
                    </a>
                {% endif %}
            {% endif %}
            {{ title }}
        </h2>
        {% if problem.is_organization_private %}
            <span class="organization-tags" style="margin-right: 5px;">
                {% for org in problem.organizations.all() %}
                    <span class="organization-tag ui label">
                        <a href="{{ org.get_absolute_url() }}">
                            <i class="icon lock"></i>
                             {{ org.name }}
                        </a>
                    </span>
                {% endfor %}
            </span>
        {% endif %}
        <span class="spacer"></span>
        {% if has_pdf_render %}
            <a href="{{ url('problem_pdf', problem.code) }}" class="view-pdf ui label red">
        {% else %}
            <a id="pdf_button" class="view-pdf ui label red" href='#'>
        {% endif %}
        <i class="file pdf icon"></i>
        {{ _('View as PDF') }}
        </a>
    </div>
    <hr class="ui divider"/>
{% endblock %}

{% block info_float %}
    <div>
        {% if request.user.is_authenticated and request.in_contest and submission_limit %}
            {% if submissions_left > 0 %}
                <a href="{{ url('problem_submit', problem.code) }}" class="ui button black" style="width: 100%;">
                    <i class="icon plane paper"></i>
                    {{ _('Submit solution') }}
                    <div class="ui label floating red small">
                        {% trans trimmed counter=submissions_left %}
                            {{ counter }}
                            {% pluralize %}
                            {{ counter }}
                        {% endtrans %}
                    </div>
                </a>
                <div class="ui message info icon">
                    <i class="icon info circle"></i>
                    <div class="content">
                        {% trans trimmed counter=submissions_left %}
                            {{ counter }} submission left
                            {% pluralize %}
                            {{ counter }} submissions left
                        {% endtrans %}
                    </div>
                </div>
            {% else %}
                <a class="ui button disabled" style="width: 100%">
                    <i class="icon plane paper"></i>
                    {{ _('Submit solution') }}
                </a>
                <div class="ui message icon">
                    <i class="icon info circle"></i>
                    <div class="content">
                        {{ _('0 submissions left') }}
                    </div>
                </div>
            {% endif %}
        {% else %}
            <a href="{{ url('problem_submit', problem.code) }}" class="unselectable ui button primary"
               style="width: 100%">
                <i class="icon plane paper"></i>
                {{ _('Submit solution') }}
            </a>
        {% endif %}

        <div class="ui menu vertical secondary" style="width: 100%">
            {% if request.in_contest and contest_problem %}
                {% set contest = contest_problem.contest %}
                <a class="item"
                   href="{{ url('contest_user_submissions', contest.key, request.user.username, problem.code) }}">
                    <i class="icon user"></i>
                    {{ _('My submissions') }}
                </a>
                {% if contest.can_see_full_submission_list(request.user) %}
                    <a class="item" href="{{ url('chronological_submissions', problem.code) }}">
                        <i class="icon list"></i>
                        {{ _('All submissions') }}
                    </a>
                    <a class="item" href="{{ url('contest_ranked_submissions', contest.key, problem.code) }}">
                        <i class="icon trophy"></i>
                        {{ _('Best submissions') }}
                    </a>
                {% endif %}
            {% else %}
                {% if request.user.is_authenticated and has_submissions %}
                    <a class="item" href="{{ url('user_submissions', problem.code, request.user.username) }}">
                        <i class="icon user"></i>
                        {{ _('My submissions') }}
                    </a>
                {% endif %}
                <a class="item" href="{{ url('chronological_submissions', problem.code) }}">
                    <i class="icon list"></i>
                    {{ _('All submissions') }}
                </a>
                <a class="item" href="{{ url('ranked_submissions', problem.code) }}">
                    <i class="icon trophy"></i>
                    {{ _('Best submissions') }}
                </a>
            {% endif %}
            {% if (editorial and editorial.is_accessible_by(request.user)) and not request.in_contest %}
                <a class="item" href="{{ url('problem_editorial', problem.code) }}">
                    <i class="icon book"></i>
                    {{ _('Read editorial') }}
                </a>
            {% endif %}
            {% if can_edit_problem %}
                <hr class="ui divider" />
                <a class="item" href="{{ url('problem_ticket_list', problem.code) }}">
                    <i class="icon bug"></i>
                    {{ _('Manage tickets') }}
                    {% if num_open_tickets %}
                        <span class="ui label red circular mini">{{ num_open_tickets }}</span>{% endif %}
                </a>

                <a class="item" href="{{ url('problem_edit', problem.code) }}">
                    <i class="icon pencil"></i>
                    {{ _('Edit problem') }}
                </a>
                {% if not problem.is_manually_managed %}
                    <a class="item" href="{{ url('problem_data', problem.code) }}">
                        <i class="icon database"></i>
                        {{ _('Edit test data') }}
                    </a>
                {% endif %}
            {% elif request.user.is_authenticated and has_tickets %}
                <a class="item" href="{{ url('problem_ticket_list', problem.code) }}">
                    <i class="icon bug"></i>
                    {{ _('My tickets') }}
                    {% if num_open_tickets %}
                        <span class="ui label red circular mini">{{ num_open_tickets }}</span>{% endif %}
                </a>
            {% endif %}

            {% if problem.is_subs_manageable_by(request.user) %}
                <a class="item" href="{{ url('problem_manage_submissions', problem.code) }}">
                    <i class="icon list"></i>
                    {{ _('Manage submissions') }}
                </a>
            {% endif %}

            {% if perms.judge.clone_problem and can_edit_problem %}
                <a class="item" href="{{ url('problem_clone', problem.code) }}">
                    <i class="icon clone outline"></i>
                    {{ _('Clone problem') }}
                </a>
            {% endif %}
        </div>

        <div class="ui list divided relaxed segment">

            <div class="item">
                <i class="icon check"></i><span class="content">{{ _('Points:') }} <strong>
            {% if contest_problem %}
                {{ contest_problem.points }}{% if contest_problem.partial %} {{ _('(partial)') }}{% endif %}
            {% else %}
                {{ problem.points|floatformat(2) }}{% if problem.partial %} {{ _('(partial)') }}{% endif %}
            {% endif %}
                </strong>
            </span>
            </div>

            <div class="item">
                <i class="icon clock"></i><span
                    class="content">{{ _('Time limit:') }} <strong>{{ problem.time_limit }}s</strong></span>
            </div>

            <div class="problem-lang-limits" style="padding: 5px 0">
                {% for name, limit in problem.language_time_limit %}
                    <div class="lang-limit ui label">
                        <span class="lang-name">{{ name }}</span>
                        <span class="lang-tl">{{ limit }}s</span>
                    </div>
                {% endfor %}
            </div>

            <div class="item">
                <i class="icon server"></i>
                <span class="content">{{ _('Memory limit:') }}
                    <strong>{{ problem.memory_limit|kbsimpleformat }}</strong>
                </span>
            </div>

            <div class="problem-lang-limits" style="padding: 5px 0">
                {% for name, limit in problem.language_memory_limit %}
                    <div class="lang-limit ui label">
                        <span class="lang-name">{{ name }}</span>
                        <span class="lang-ml">{{ limit|kbsimpleformat }}</span>
                    </div>
                {% endfor %}
            </div>

            {% if problem.io_method.method == 'standard' %}
                <div class="item">
                    <i class="icon keyboard"></i>
                    <div class="content">
                        {{ _('Input:') }}
                        <strong>stdin</strong>
                    </div>
                </div>

                <div class="item">
                    <i class="icon print"></i>
                    <div class="content">
                        {{ _('Output:') }}
                        <strong>stdout</strong>
                    </div>
                </div>
            {% elif problem.io_method.method == 'file' %}
                <div class="item">
                    <i class="icon keyboard"></i>
                    <div class="content">
                        {{ _('Input:') }}
                        <strong>
                            <i>
                                {{ problem.io_method.input }}
                            </i>
                        </strong>
                    </div>
                </div>
                <div class="item">
                    <i class="icon print"></i>
                    <div class="content">
                        {{ _('Output:') }}
                        <strong>
                            <i>
                                {{ problem.io_method.output }}
                            </i>
                        </strong>
                    </div>
                </div>
            {% endif %}

        </div>

        <div class="ui segment">
            <div class="ui list relaxed divided">
                {% if not contest_problem or not contest_problem.contest.hide_problem_authors %}
                    {% cache 86400 'problem_authors' problem.id LANGUAGE_CODE %}
                        {% with authors=problem.authors.all() %}
                            {% if authors %}
                                <div class="item">
                                    <i class="icon pencil"></i>
                                    <div class="content">
                                        <div class="header">
                                            {% trans trimmed count=authors|length %}
                                                Author:
                                                {% pluralize count %}
                                                Authors:
                                            {% endtrans %}
                                        </div>
                                        <div class="pi-value" style="margin-top: 5px;">{{ link_users(authors) }}</div>
                                    </div>
                                </div>
                            {% endif %}
                            {% if problem.suggester %}
                                <div class="item">
                                    <i class="icon pencil"></i>
                                    <div class="content">
                                        <div class="header">
                                            {{ _("Suggester:") }}
                                        </div>

                                        <p>{{ link_user(problem.suggester) }}</p>
                                    </div>
                                </div>
                            {% endif %}
                        {% endwith %}
                    {% endcache %}
                {% endif %}

                {% if problem.source %}
                    <div class="item">
                        <i class="icon pencil"></i>
                        <div class="content">
                            {{ _('Problem source:') }}
                            <strong>{{ problem.source|truncatechars_html(30) }}</strong>
                        </div>
                    </div>
                {% endif %}


                {% if not contest_problem or not contest_problem.contest.hide_problem_tags %}
                    <div id="problem-types item">
                        {% with types=problem.types_list %}
                            <div class="ui accordion">
                                <div class="title">
                                    <i class="icon dropdown"></i>
                                    {% trans trimmed count=problem.types_list|length %}
                                        Problem type
                                        {% pluralize count %}
                                        Problem types
                                    {% endtrans %}
                                </div>
                                <div class="content">
                                    {% for type in problem.types_list %}
                                        <div class="ui label" style="margin: 5px">
                                            {{ type }}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endwith %}
                    </div>
                {% endif %}
                {% if show_languages %}
                    <div id="allowed-langs" class="item">
                        <div class="ui accordion">
                            <div class="title">
                                <i class="icon dropdown"></i>
                                <span class="content">{{ _('Allowed languages') }}</span>
                            </div>
                            <div class="content">
                                {% with usable=problem.usable_common_names, langs=problem.languages_list() %}
                                    {% for lang in langs %}
                                        {%- if lang in usable -%}
                                            <div class="ui label green" style="margin: 5px">
                                                {{ lang }}
                                            </div>
                                        {%- else -%}
                                            <div class="ui label" style="margin: 5px"
                                                 title="{{ _('No %(lang)s judge online', lang=lang) }}">
                                                <s>
                                                    {{ lang }}
                                                </s>
                                            </div>
                                        {%- endif -%}
                                    {% endfor %}
                                {% endwith %}
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if problem.is_editable_by(request.user) %}
                    <div id="available-judges" class="item">
                        <i class="icon database"></i>
                        <div class="content ui">
                            <div class="header">
                                {% trans trimmed count=available_judges|length %}
                                    Judge:
                                    {% pluralize count %}
                                    Judges:
                                {% endtrans %}
                            </div>

                            <div class="content">
                                {% if available_judges %}
                                    {% if perms.judge.change_judge %}
                                        {% for judge in available_judges %}
                                            <a class="ui label green" style="margin: 5px"
                                               href="{{ url('admin:judge_judge_change', judge.id) }}">{{ judge.name }}</a>
                                        {% endfor %}
                                    {% else %}f
                                        {% for judge in available_judges %}
                                            <div class="ui label" style="margin: 5px">{{ judge.name }}</div>
                                        {% endfor %}
                                    {% endif %}
                                {% else %}
                                    <i>{{ _('none available') }}</i>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block description %}
    <iframe name="raw_problem" id="raw_problem"></iframe>
    {% if problem.is_suggesting %}
        <div class="ui message yellow">
            <a class="icon close">
                <i class="icon close"></i>
            </a>
            <div class="content">
                <div class="header">{{ _('This problem is only a suggestion!') }}</div>
                {{ _('This problem cannot be accessed by normal users until it is approved by an admin or staff. Please make sure that all the data for this problem is correct.') }}

            </div>
        </div>
    {% endif %}
    {% include "problem/problem-detail.html" %}
{% endblock %}

{% block post_description_end %}
    {% if request.user.is_authenticated and not request.profile.mute %}
        <a href="{{ url('new_problem_ticket', problem.code) }}" class="ui button basic">
            {%- if comment_lock and request.profile.current_contest.live -%}
                <i class="icon plane paper"></i>
                {{ _('Request clarification') }}
            {%- else -%}
                <i class="icon bug"></i>
                {{ _('Report an issue') }}
            {%- endif -%}
        </a>
    {% endif %}
{% endblock %}

{% block comments %}
    <hr class="ui divider"/>
    {% if comment_lock %}
        <div>
            <h2 class="ui header block attached top">
                <i class="icon question circle"></i>
                <div class="content">
                    {{ _('Clarifications') }}
                </div>
            </h2>

            <div class="ui segment attached bottom">
                {% if has_clarifications %}
                    <div class="ui list relaxed divided">
                        {% for clarification in clarifications %}
                            <div class="item">
                                <i class="icon quote left"></i>

                                <div class="content">
                                    <div class="header">{{ relative_time(clarification.date) }}</div>
                                    <div class="markdown-body ui segment">
                                        {{ clarification.description|markdown('problem', MATH_ENGINE)|reference }}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ _('No clarifications have been made at this time.') }}
                {% endif %}
            </div>
        </div>
    {% else %}
        {% include "comments/list.html" %}
    {% endif %}
{% endblock %}

{% block bodyend %}
    {{ super() }}
    {% if not comment_lock %}
        {% include "comments/math.html" %}
    {% endif %}
{% endblock %}
