{% extends "base.html" %}

{% block js_media %}
    <script type="text/javascript" src="https://unpkg.com/monaco-editor@latest/min/vs/loader.js"></script>

    {% compress js %}
    <script>
        const languageMap = {
            'c_cpp': 'cpp',
        };

        function mapLanguage(lang) {
            return languageMap[lang] || lang;
        }

        require.config({paths: {'vs': 'https://unpkg.com/monaco-editor@latest/min/vs'}});

        window.MonacoEnvironment = {
            getWorkerUrl: function (workerId, label) {
                return `data:text/javascript;charset=utf-8,${encodeURIComponent(`
                    self.MonacoEnvironment = {
                        baseUrl: 'https://unpkg.com/monaco-editor@latest/min/'
                    };
                    importScripts('https://unpkg.com/monaco-editor@latest/min/vs/base/worker/workerMain.js');`
                )}`;
            }
        };

        theme = localStorage.getItem('theme') || 'vs-dark';

        require(["vs/editor/editor.main"], function () {
            window.$_editor = monaco.editor.create(document.querySelector('.monaco-editor-container'), {
                language: mapLanguage('{{ default_lang.ace }}'),
                value: $('#id_source').val(),
                theme,
                automaticLayout: true,
                fontFamily: "'Monaco', monospace",
                fontLigatures: true,
                cursorSmoothCaretAnimation: true,
                cursorBlinking: 'phase',
                cursorStyle: 'line',
            });

            window.$_editor.onDidChangeModelContent(() => {
                $('#id_source').val(window.$_editor.getValue())
            });

            window.$_editor.onDidLayoutChange(() => {
                $('#code-loader').hide()
            })

            if (!$('#id_source').val()) {
                window.$update_language_template();
            }
            $('textarea#id_source').change(() => {
                window.$_editor.setValue($('textarea#id_source').val())
            })

            $(() => {
                $('#code-theme').val(theme).change()
                $('#code-theme').change(() => {
                    theme = $('#code-theme').val()
                    localStorage.setItem('theme', theme)
                    monaco.editor.setTheme(theme)
                })
            })
        });
    </script>
    {% endcompress %}

    {{ form.media.js }}
    {% compress js %}
        <script type="text/javascript">
            $(function () {
                const languageMap = {
                    'c_cpp': 'cpp',
                };

                function mapLanguage(lang) {
                    return languageMap[lang] || lang;
                }

                function format(state) {
                    if (!state.id) return state.text;
                    return state.text;
                }

                window.previous_template = '';

                function update_language_template() {
                    var source = $('textarea#id_source');
                    var lang_id = $('#id_language').val();
                    var code = localStorage.getItem('submit:' + $('#id_language').val());

                    function update_submit_area(code) {
                        window.previous_template = code;
                        source.val(code).change();
                    }


                    if (code != null) {
                        update_submit_area(code);
                    } else {
                        $.get('{{ url('language_template_ajax') }}', {
                            id: lang_id
                        }).done(function (template) {
                            update_submit_area(template);
                        });
                    }
                }

                window.$update_language_template = update_language_template;

                function makeDisplayData(data) {
                    var site_data = data.attr('data-info');
                    var judge_data = data.attr('data-judge-info');
                    var display_data = site_data || judge_data;
                    return display_data;
                }

                function formatSelection(state) {
                    if (!state.id) return state.text; // optgroup
                    var data = makeDisplayData($("option[data-id=" + state.id + "]"));
                    return $('<span>').append($('<b>').text(state.text), ' (', data, ')');
                }

                $.fn.select2.amd.define('select2/data/customAdapter', ['select2/results', 'select2/utils'], function (Result, Utils) {
                    RefPresenter = function ($element, options, dataAdapter) {
                        RefPresenter.__super__.constructor.call(this, $element, options, dataAdapter);
                    };
                    Utils.Extend(RefPresenter, Result);
                    RefPresenter.prototype.bind = function (container, $container) {
                        container.on('results:focus', function (params) {
                            var data = makeDisplayData($("option[data-id=" + params.data.id + "]"));
                            $("#result-version-info").text(data);
                        });
                        RefPresenter.__super__.bind.call(this, container, $container);
                    };
                    return RefPresenter;
                });


                $('#id_judge').on('select2:open', function (evt) {
                    var dropdown = $('.select2-dropdown');
                    $('#result-version-info').remove();
                    dropdown.attr('id', 'judge-select2');
                });

                $('#id_language').change(function () {
                    var lang = $("#id_language").find("option:selected").attr('data-ace');
                    window.$_editor.getModel().setLanguage(mapLanguage(lang));

                    if ($(this).attr('data-no-change') == 1) {
                        $(this).attr('data-no-change', 0);
                        return;
                    }

                    update_language_template();
                });

                $(window).resize(function () {
                    $('#ace_source').height(Math.max($(window).height() - 353, 100));
                }).resize();

                $('#problem_submit').submit(function (event) {
                    if ($('#id_source').val().length > 65536) {
                        _alert("{{ _('Your source code must contain at most 65536 characters.') }}");
                        event.preventDefault();
                        $('#problem_submit').find(':submit').attr('disabled', false);
                    }
                });

                function on_language_change() {
                    obj = document.getElementById('id_language');
                    fileonly = obj.options[obj.selectedIndex].getAttribute('data-fileonly');
                    if (fileonly == 'True') {
                        if (!$('#editor').hasClass('hidden')) {
                            $('#editor').addClass('hidden');
                        }
                        if ($('#file-submit').hasClass('hidden')) {
                            $('#file-submit').removeClass('hidden');
                        }

                        file_ext = '.' + obj.options[obj.selectedIndex].getAttribute('data-ext');
                        file_size_limit = obj.options[obj.selectedIndex].getAttribute('data-file-size');
                        $('#file_upload').val('');
                        $('#file_upload').attr({accept: file_ext});
                        $('#file_drag').html(
                            '<b>{{ _("Click to select a file or drag a file into this box") }}</b><br>' +
                            {{ _('`Only accept "${file_ext}". Maximum file size is ${file_size_limit}MB.`') }}
                        );
                    } else {
                        if ($('#editor').hasClass('hidden')) {
                            $('#editor').removeClass('hidden');
                        }
                        if (!$('#file-submit').hasClass('hidden')) {
                            $('#file-submit').addClass('hidden');
                        }
                    }
                }

                on_language_change();

                function fileDragHover(e) {
                    e.stopPropagation();
                    e.preventDefault();

                    if (e.type === 'dragover') {
                        $('#file_drag').addClass('hover');
                    } else {
                        $('#file_drag').removeClass('hover');
                    }
                }

                function fileDropHandler(e) {
                    fileDragHover(e);
                    $('#file_upload').prop('files', e.originalEvent.dataTransfer.files);
                    handleFileChange()
                }

                $('#file_drag').on('dragover', fileDragHover);
                $('#file_drag').on('dragleave', fileDragHover);
                $('#file_drag').on('drop', fileDropHandler);
            });

            function handleFileSelect() {
                var file = $('#file_select')[0].files[0];
                if (file && window.FileReader) {
                    var reader = new FileReader();
                    reader.onload = function () {
                        if (file.name.search('.') != -1) {
                            var ext = file.name.split('.').pop();
                            var languages = $('#id_language')[0].options;
                            for (var i = languages.length - 1; i >= 0; i--) {
                                if (languages[i].getAttribute('data-fileonly') === 'False' && languages[i].getAttribute('data-ext') === ext) {
                                    $('#id_language').val(languages[i].value).change().attr('data-no-change', 1);
                                    break;
                                }
                            }
                        }

                        window.$_editor.setValue(reader.result);
                    };
                    reader.readAsText(file);
                }
            }

            function handleFileChange() {
                var file = $('#file_upload')[0].files[0];
                if (file) {
                    $('#file_drag').html(
                        '<b>{{ _("File name") }}:</b> ' + file.name + '<br>' +
                        '<b>{{ _("File size") }}:</b> ' + (file.size / (1024 * 1024)).toFixed(2) + ' MB'
                    );
                }
            }

            // https://stackoverflow.com/questions/43043113/how-to-force-reloading-a-page-when-using-browser-back-button#comment105570384_43043658
            if (window.performance.getEntriesByType("navigation")[0].type === "back_forward") {
                location.reload(true);
            }

            $(() => {
                const $toggleFullscreenButton = $('#toggle-fullscreen')


                $toggleFullscreenButton.click(() => {
                    $('#problem_submit')[0].classList.toggle('fullscreen')

                    $toggleFullscreenButton.find('i').toggleClass('compress expand')
                })
            })

        </script>
    {% endcompress %}

    {% compress css %}
        <style>
            #problem_submit.fullscreen {
                position: fixed;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 1000;
                background: #fff;
                width: 100%;
            }

            #problem_submit.fullscreen .monaco-editor-container {
                height: 100vh !important;
            }

            #problem_submit.fullscreen #right {
                padding-top: 30px;
                padding-right: 30px;
            }
        </style>
    {% endcompress %}
{% endblock %}

{% block media %}
    {{ form.media.css }}
{% endblock %}

{% block body %}
    <form id="problem_submit" action="" method="post" class="form-area ui form fullscreen"
          enctype="multipart/form-data">
        <div class="ui grid stackable">
            <div class="column eleven wide">
                <div id="submit-wrapper">
                    <div id="editor">
                        {{ form.source.errors }}
                        {{ form.source }}

                        <div style="display: flex; align-items: center; justify-content: center; height: 100vh;" id="code-loader">
                            <i class="ui loader active inline"></i>
                        </div>

                        <div class="monaco-editor-container" id="monaco-editor-container" style="height: 70vh">
                        </div>
                    </div>
                    <div id="file-submit" class="hidden">
                        <div class="ui message error icon">
                            <i class="icon warning"></i>
                            <a class="icon close">
                                <i class="icon close"></i>
                            </a>
                            <div class="content">
                                {{ _('You can only submit file for this language.') }}
                            </div>
                        </div>
                        {{ form.submission_file.errors }}
                        <input id="file_upload" type="file" name="submission_file" style="display: none;"
                               onchange="handleFileChange()">
                        <label for="file_upload" id="file_drag"></label>
                    </div>
                </div>
            </div>

            <div id="right" class="column five wide">
                <div>
                    {% if content_title %}
                        <h2 class="ui header">
                            <i class="icon code"></i>
                            <div class="content">
                                {{ content_title }}
                            </div>
                        </h2>
                        <hr class="ui divider"/>
                    {% endif %}

                    <div class="ui buttons basic">
                        <button class="ui button" type="button"
                                onclick="confirm('{{ _('Do you want reset code?') }}') && window.$update_language_template()">
                            <i class="icon undo"></i>
                            {{ _('Reset') }}
                        </button>

                        <button id="toggle-fullscreen" class="ui button icon" type="button">
                            <i class="icon compress"></i>
                        </button>
                    </div>

                    <hr class="ui divider"/>

                    <div class="field">
                        <label>{{ _('Theme') }}</label>
                        <select class="ui dropdown" id="code-theme">
                            <option value="vs-dark">
                                {{ _('Dark') }}
                            </option>
                            <option value="vs-light">
                                {{ _('Light') }}
                            </option>
                        </select>
                    </div>

                    <hr class="ui divider"/>

                    {% if not no_judges %}
                        {% if default_lang not in form.fields.language.queryset %}
                            <div class="ui message yellow icon">
                                <i class="icon warning"></i>

                                <a class="icon close">
                                    <i class="icon close"></i>
                                </a>

                                <div class="content">
                                    <div class="header">
                                        {{ _('Warning!') }}
                                    </div>
                                    <p>
                                        {{ _('Your default language, %(language)s, is unavailable for this problem and has been deselected.', language=bold(default_lang.name)) }}
                                    </p>
                                </div>
                            </div>
                        {% endif %}

                        {% if request.in_contest and submission_limit %}
                            {% if submissions_left > 0 %}
                                <button type="submit" class="ui button black"
                                        {% if request.in_contest and submission_limit and not submissions_left %}disabled{% endif %}
                                        style="width: 100%; position:relative;">
                                    <i class="icon play"></i>
                                    {{ _('Submit!') }}
                                    <div class="ui label red floating mini">
                                        {{ submissions_left }}
                                    </div>
                                </button>

                                <div class="ui message info icon">
                                    <i class="icon info"></i>

                                    <a class="icon close">
                                        <i class="icon close"></i>
                                    </a>

                                    <div class="content">
                                        {% trans left=submissions_left -%}
                                            You have {{ left }} submission left
                                            {%- pluralize -%}
                                            You have {{ left }} submissions left
                                        {%- endtrans %}
                                    </div>
                                </div>

                                <div id="language">
                                    {{ form.language.errors }}
                                    <div id="language-select" class="field">
                                        <label>{{ _('Language') }}</label>
                                        <select id="id_language" name="language" class="ui search dropdown">
                                            {% for lang in form.fields.language.queryset %}
                                                <option value="{{ lang.id }}" data-id="{{ lang.id }}"
                                                        data-name="{{ lang.name }}"
                                                        data-info="{{ lang.info }}" data-ace="{{ lang.ace }}"
                                                        data-fileonly="{{ lang.file_only }}"
                                                        data-ext="{{ lang.extension }}"
                                                        data-file-size="{{ lang.file_size_limit }}"
                                                        data-judge-info="{{ runtime_versions(lang.runtime_versions()) }}"
                                                        {% if lang.id == default_lang.id %}selected{% endif %}>{{ lang.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>

                                {% if form.judge %}
                                    <div class="field">
                                        <label>{{ _('Judge') }}</label>
                                        {{ form.judge }}
                                    </div>
                                    <hr class="ui divider"/>
                                {% endif %}

                                <div>
                                    <label for="file_select" class="ui placeholder segment primary">
                                        <div class="ui icon header">
                                            <i class="icon file code"></i>
                                            {{ _('Paste your source code here or load it from a file:') }}
                                        </div>

                                        <label for="file_select"
                                               class="ui button primary">{{ _('Select file') }}</label>
                                    </label>
                                    <input id="file_select" type="file" onchange="handleFileSelect()" hidden>
                                </div>
                            {% else %}
                                <div class="ui message error icon">
                                    <i class="icon warning"></i>

                                    <a class="icon close">
                                        <i class="icon close"></i>
                                    </a>

                                    <div class="content">
                                        {{ _('You have 0 submissions left') }}
                                    </div>
                                </div>
                            {% endif %}
                        {% else %}
                            <button type="submit" class="ui button green"
                                    {% if request.in_contest and submission_limit and not submissions_left %}disabled{% endif %}
                                    style="width: 100%">
                                <i class="icon play"></i>
                                {{ _('Submit!') }}
                            </button>

                            <hr class="ui divider"/>

                            <div id="language">
                                {{ form.language.errors }}
                                <div id="language-select" class="field">
                                    <label>{{ _('Language') }}</label>
                                    <select id="id_language" name="language" class="ui search dropdown">
                                        {% for lang in form.fields.language.queryset %}
                                            <option value="{{ lang.id }}" data-id="{{ lang.id }}"
                                                    data-name="{{ lang.name }}"
                                                    data-info="{{ lang.info }}" data-ace="{{ lang.ace }}"
                                                    data-fileonly="{{ lang.file_only }}"
                                                    data-ext="{{ lang.extension }}"
                                                    data-file-size="{{ lang.file_size_limit }}"
                                                    data-judge-info="{{ runtime_versions(lang.runtime_versions()) }}"
                                                    {% if lang.id == default_lang.id %}selected{% endif %}>{{ lang.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            {% if form.judge %}
                                <div class="field">
                                    <label>{{ _('Judge') }}</label>
                                    {{ form.judge }}
                                </div>
                                <hr class="ui divider"/>
                            {% endif %}

                            <div>
                                <div class="ui placeholder segment primary" id="file_drag">
                                    <div class="ui icon header">
                                        <i class="icon file code"></i>
                                        {{ _('Paste your source code here or load it from a file:') }}
                                    </div>

                                    <label for="file_select" class="ui button primary">{{ _('Select file') }}</label>
                                </div>
                                <input id="file_select" type="file" onchange="handleFileSelect()" hidden>
                            </div>

                        {% endif %}

                    {% else %}
                        <div class="ui message yellow icon">
                            <i class="icon warning"></i>
                            <div class="content">
                                {{ _('No judge is available for this problem.') }}
                            </div>
                        </div>
                    {% endif %}

                    {% csrf_token %}
                    {{ form.non_field_errors() }}
                </div>
            </div>

        </div>
    </form>
{% endblock %}
