{% set logged_in = request.user.is_authenticated %}
{% set profile = request.profile if logged_in else None %}
<section class="{% if post.sticky %}sticky {% endif %} ui event" id="post-{{ post.id }}"
         style="display: flex; gap: 10px">
    <div>
        <div class="ui icon buttons vertical" style="position: sticky; top: 80px;">
            {% if not post.visible %}
                <div class="ui button black">
                    <i class="icon lock"></i>
                </div>
            {% endif %}
            {%- if post.sticky %}
                <div class="ui button orange">
                    <i title="Sticky" class="icon star"></i>
                </div>
            {% endif -%}

            {% if logged_in %}
                <a href="javascript:blog_upvote({{ post.id }})"
                   class="ui button {% if post.vote_score == 1 %} blue{% endif %}">
                    <i class="icon thumbs up"></i>
                </a>
            {% else %}
                <a href="javascript:_alert('{{ _('Please log in to vote')|escapejs }}')"
                   title="{{ _('Please log in to vote') }}"
                   class="ui button">
                    <i class="icon thumbs up"></i>
                </a>
            {% endif %}
            <div id="post-score" class="ui button disabled">{{ post.score }}</div>
            {% if logged_in %}
                <a href="javascript:blog_downvote({{ post.id }})"
                   class="ui button {% if post.vote_score == -1 %} red{% endif %}">
                    <i class="icon thumbs down"></i>
                </a>
            {% else %}
                <a href="javascript:_alert('{{ _('Please log in to vote')|escapejs }}')"
                   title="{{ _('Please log in to vote') }}"
                   class="ui button">
                    <i class="icon thumbs down"></i>
                </a>
            {% endif %}
        </div>
    </div>

    <div class="content ui segment" style="flex: 1; overflow: hidden; margin-top: 0;">
        <div class="summary" style="background: #fff; z-index: 1;padding-top: 5px;">
            <h2 class="ui header" style="margin-bottom: 5px; position: sticky;">
                <a href="{{ url('blog_post', post.id, post.slug) }}" class="content">
                    {{ post.title }}
                </a>
            </h2>
            <div style="display: flex; align-items: center; gap: 5px">
                {% with authors=post.authors.all() %}
                    {%- if authors -%}
                        {{ link_users(authors) }}
                    {%- endif -%}
                {% endwith %}
            </div>

            <div class="date" style="margin-left: 0; margin-top: 5px">
                <i class="icon clock"></i>
                {% with abs=_('posted on {time}'), rel=_('posted {time}') %}
                    {{ relative_time(post.publish_on, abs=abs, rel=rel) }}
                {% endwith %}
            </div>
            <hr class="ui divider"/>
        </div>

        <div class="extra markdown-body">
            {% cache 86400 'post_summary' post.id %}
                {{ post.summary|default(post.content, true)|markdown('blog', 'svg', lazy_load=True)|reference|str|safe }}
            {% endcache %}
            {%- if post.summary -%}
                <p><a href="{{ url('blog_post', post.id, post.slug) }}">{{ _('Continue reading...') }}</a></p>
            {%- endif -%}
        </div>
        
        <hr class="ui divider"/>

        <div style="display:flex; align-items: center">
            <i class="icon pencil"></i>
            {% with authors=post.authors.all() %}
                {%- if authors -%}
                    {{ link_users(authors) }}
                {%- endif -%}
            {% endwith %}
        </div>

        <hr class="ui divider"/>

        <div class="ui label">
            <i class="icon clock"></i>
            <span class="content">
                {{ relative_time(post.publish_on, abs=_('o{time}'), rel=_('{time}')) -}}
            </span>
        </div>
        <a href="{{ url('blog_post', post.id, post.slug) }}#comments" class="ui label">
            <i class="icon comment"></i>
            <span class="content">
                {{- post_comment_counts[post.id] or 0 -}}
            </span>
        </a>
    </div>
</section>
<hr class="ui divider"/>
