{% extends "base.html" %}

{% set logged_in = request.user.is_authenticated %}
{% set profile = request.profile if logged_in else None %}

{% block js_media %}
    {% include "blog/media-js.html" %}
    {% include "comments/media-js.html" %}
{% endblock %}

{% block media %}
    {% include "comments/media-css.html" %}
{% endblock %}

{% block title_row %}
    <div id="post-{{ post.id }}" style="display: flex; gap: 0.5em;">
        <div class="vote">
            {% if logged_in %}
                <a href="javascript:blog_upvote({{ post.id }})" class="button upvote-link is-light">
                    <i class="fa fa-chevron-up fa-fw{% if post.vote_score == 1 %} voted{% endif %}"></i>
                </a>
            {% else %}
                <a href="javascript:alert('{{ _('Please log in to vote')|escapejs }}')"
                   title="{{ _('Please log in to vote') }}"
                   class="upvote-link button is-light">
                    <i class="fa fa-chevron-up fa-fw"></i>
                </a>
            {% endif %}
            <br>
            <div id="post-score" class="comment-score is-fullwidth py-4 has-text-centered">{{ post.score }}</div>
            {% if logged_in %}
                <a href="javascript:blog_downvote({{ post.id }})" class="downvote-link button is-light">
                    <i class="fa fa-chevron-down fa-fw{% if post.vote_score == -1 %} voted{% endif %}"></i>
                </a>
            {% else %}
                <a href="javascript:alert('{{ _('Please log in to vote')|escapejs }}')"
                   title="{{ _('Please log in to vote') }}"
                   class="downvote-link button is-light is-disabled">
                    <i class="fa fa-chevron-down fa-fw"></i>
                </a>
            {% endif %}
        </div>
        <div style="width: 100%;" class="card">
            <div class="card-header has-background-dark">
                <h2 style="display:inline" class="card-header-title has-text-white">
                    {% block content_title %}
                        {% if content_title %}{{ content_title }}{% else %}{{ title }}{% endif %}
                    {% endblock %}
                </h2>
                {% if post.is_editable_by(request.user) %}
                    <a class="card-header-icon has-text-white" href="{{ url('blog_post_edit', post.id, post.slug) }}">
                      <span class="icon">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                      </span>
                    </a>
                {% endif %}

            </div>
            {% if post.organization %}
                <span class="organization-tag" style="display: inline;">
                <a href="{{ post.organization.get_absolute_url() }}">
                    <i class="fa fa-lock"></i> {{ post.organization.name }}
                </a>
            </span>
            {% endif %}

            <div class="tag m-2 is-medium">
                {% with authors=post.authors.all() %}
                    {%- if authors -%}
                        <span class="post-authors">{{ link_users(authors) }}</span>
                    {%- endif -%}
                {% endwith %}
                <span class="post-time">
                {% trans trimmed time=post.publish_on|date(_("N j, Y, g:i a")) %}
                    posted on {{ time }}
                {% endtrans %}
            </span>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="post-full p-2">
        <div class="markdown-body">
            {% cache 86400 'post_content' post.id MATH_ENGINE %}
                {{ post.content|markdown('blog', MATH_ENGINE)|reference|str|safe }}
            {% endcache %}
        </div>
    </div>
    <hr />
    <div class="buttons">
        {{ post_to_facebook(request, post, '<button class="button is-rounded"><span class="icon is-small"><i class="fa fa-facebook"></i></span></button>') }}
        {{ post_to_twitter(request, SITE_NAME + ':', post, '<button class="button is-rounded ml-2"><span class="icon is-small"><i class="fa-brands fa-x-twitter"></i></span></button>') }}
    </div>
    {% include "comments/list.html" %}
    <div style="clear: both;"></div>
{% endblock %}

{% block bodyend %}
    {{ super() }}
    {% if REQUIRE_JAX %}
        {% include "mathjax-load.html" %}
    {% endif %}
    {% include "comments/math.html" %}
{% endblock %}
