{% extends "base.html" %}

{% set logged_in = request.user.is_authenticated %}
{% set profile = request.profile if logged_in else None %}

{% block js_media %}
    {% include "blog/media-js.html" %}
    {% include "comments/media-js.html" %}
{% endblock %}

{% block media %}
    {% include "comments/media-css.html" %}
{% endblock %}

{% block title_row %}
    <div id="post-{{ post.id }}"
         class="ui header"
         style="display: flex; gap: 0.5em; position:sticky; top: 50px; z-index: 50; background: #fff; padding: 10px 0; align-items: start; padding-bottom: 0">
        <div class="ui vertical icon buttons">
            {% if logged_in %}
                <a href="javascript:blog_upvote({{ post.id }})"
                   class="ui button{% if post.vote_score == 1 %} blue{% endif %}">
                    <i class="icon thumbs up"></i>
                </a>
            {% else %}
                <a href="javascript:_alert('{{ _('Please log in to vote')|escapejs }}')"
                   title="{{ _('Please log in to vote') }}"
                   class="ui button">
                    <i class="icon thumbs up"></i>
                </a>
            {% endif %}
            <div id="post-score" class="ui button disabled">{{ post.score }}</div>
            {% if logged_in %}
                <a href="javascript:blog_downvote({{ post.id }})"
                   class="ui button {% if post.vote_score == -1 %} red{% endif %}">
                    <i class="icon thumbs down"></i>
                </a>
            {% else %}
                <a href="javascript:_alert('{{ _('Please log in to vote')|escapejs }}')"
                   title="{{ _('Please log in to vote') }}"
                   class="ui button">
                    <i class="icon thumbs down"></i>
                </a>
            {% endif %}
        </div>
        <div style="flex: 1;">
            <h2 class="ui header">
                <div class="content">
                    {% block content_title %}
                        {% if content_title %}{{ content_title }}{% else %}{{ title }}{% endif %}
                    {% endblock %}
                </div>
                <div class="sub header" style="display:flex; align-items: center; gap: 10px; flex-wrap: wrap">
                    {% with authors=post.authors.all() %}
                        {%- if authors -%}
                            {{ link_users(authors) }}
                        {%- endif -%}
                    {% endwith %}
                    <span>
                        {% trans trimmed time=post.publish_on|date(_("N j, Y, g:i a")) %}
                            posted on {{ time }}
                        {% endtrans %}
                    </span>
                </div>
            </h2>

            {% if post.organization %}
                <a class="ui label large black" href="{{ post.organization.get_absolute_url() }}">
                    <i class="icon lock"></i>
                    <div class="content">
                        {{ post.organization.name }}
                    </div>
                </a>
            {% endif %}

            {% if post.is_editable_by(request.user) %}
                <a class="ui button circular green"
                   href="{{ url('blog_post_edit', post.id, post.slug) }}">
                    <i class="icon pencil"></i>
                    {{ _('Edit') }}
                </a>
            {% endif %}

            <div class="ui dropdown simple circular icon button primary">
                <i class="icon share"></i>

                <div class="menu" style="padding: 20px; display: flex; flex-direction: column; gap: 5px;">
                    {{ post_to_facebook(request, post, '<div class="ui button blue"><i class="icon facebook"></i>Facebook</div>') }}
                    {{ post_to_twitter(request, SITE_NAME + ':', post, '<div class="ui button black" style="width: 100%"><i class="fa-brands fa-x-twitter"></i>Twitter</div>') }}
                </div>
            </div>
            <hr class="ui divider" style="margin-bottom: 0;">
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="ui container" id="blog-content">
        <div class="markdown-body">
            {% cache 86400 'post_content' post.id MATH_ENGINE %}
                {{ post.content|markdown('blog', MATH_ENGINE)|reference|str|safe }}
            {% endcache %}
        </div>

        <div class="ui divider"></div>


        {% include "comments/list.html" %}
        <div style="clear: both;"></div>
    </div>
{% endblock %}

{% block bodyend %}
    {{ super() }}
    {% if REQUIRE_JAX %}
        {% include "mathjax-load.html" %}
    {% endif %}
    {% include "comments/math.html" %}
{% endblock %}
