{% extends "base.html" %}
{% block title_row %}
{% endblock %}
{% block title_ruler %}{% endblock %}

{% block media %}
    <link rel="alternate" type="application/atom+xml" href="{{ url('blog_atom') }}" title="Atom Blog Feed">
    <link rel="alternate" type="application/rss+xml" href="{{ url('blog_rss') }}" title="RSS Blog Feed">
    <link rel="alternate" type="application/atom+xml" href="{{ url('comment_atom') }}" title="Atom Comment Feed">
    <link rel="alternate" type="application/rss+xml" href="{{ url('comment_rss') }}" title="RSS Comment Feed">
    <link rel="alternate" type="application/atom+xml" href="{{ url('problem_atom') }}" title="Atom Problem Feed">
    <link rel="alternate" type="application/rss+xml" href="{{ url('problem_rss') }}" title="RSS Problem Feed">
{% endblock %}

{% block js_media %}
    {% include "blog/media-js.html" %}

    <script type="text/javascript">
        $(document).ready(function () {
            $('.time-remaining').each(function () {
                count_down($(this));
            });

            // $('.blog-sidebar').hide();
            $('#blog-tab').click(function (e) {
                e.preventDefault();
                $('#blog-tab').addClass('active');
                $('#event-tab').removeClass('active');
                $('.blog-content').show();
                $('.blog-sidebar').hide();
            });
            $('#event-tab').click(function (e) {
                e.preventDefault();
                $('#event-tab').addClass('active');
                $('#blog-tab').removeClass('active');
                $('.blog-content').hide();
                $('.blog-sidebar').show();
            });
        });
    </script>
{% endblock %}

{% block body %}
    {% block before_posts %}{% endblock %}

    {#    <div class="ui top attached tabular menu">#}
    {#        <div class="active item" id="blog-tab">#}
    {#            <i class="icon info"></i>#}
    {#            {{ _('Blog') }}#}
    {#        </div>#}
    {#        <div class="item" id="event-tab">#}
    {#            <i class="icon rss"></i>#}
    {#            {{ _('Events') }}#}
    {#        </div>#}
    {#    </div>#}

    <div id="blog-container" class="ui grid stackable">
        <div class="blog-content sidebox column eleven wide">
            <div class="ui container">
                {% include "blog/blog-list-tabs.html" %}
            </div>
            <div class="sidebox-content ui feed">
                {% for post in posts %}
                    {% include "blog/blog-post.html" %}
                {% endfor %}
            </div>
            {% if page_obj.has_other_pages() %}
                <div class="bottom-pagination-bar">{% include "list-pages.html" %}</div>
            {% endif %}
        </div>

        <div class="column five wide">
            <div class="blog-sidebar" style="position: sticky; top: 80px">
                {% if own_open_tickets %}
                    <div class="ui header block attached top">
                        <i class="icon question circle"></i>
                        <div class="content">
                            {{ _('My open tickets') }}
                        </div>
                    </div>
                    <div class="ui attached bottom list relaxed divided segment">
                        {% for ticket in own_open_tickets %}
                            <div class="item">
                                <i class="icon bug"></i>
                                <div class="content">
                                    <a class="header"
                                       href="{{ url('ticket', ticket.id) }}">{{ ticket.title }}</a>
                                    <a href="{{ ticket.linked_item.get_absolute_url() }}">
                                        {{ ticket.linked_item|item_title|truncatechars_html(30) }}</a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}

                {% if open_tickets %}
                    <div class="ui header block attached top">
                        <i class="icon info circle"></i>
                        <div class="content">
                            {{ _('New tickets') }}
                        </div>
                    </div>

                    <div class="ui attached bottom list relaxed divided segment">
                        {% for ticket in open_tickets %}
                            <div class="item">
                                <i class="icon bug"></i>
                                <div class="content">
                                    <div class="header">
                                        <a href="{{ url('ticket', ticket.id) }}">{{ ticket.title }}</a>
                                    </div>

                                    <a href="{{ ticket.linked_item.get_absolute_url() }}">
                                        {{ ticket.linked_item|item_title|truncatechars_html(30) }}</a>

                                    <div class="author" style="margin-top: 5px;">{{ link_user(ticket.user) }}</div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
                {% if current_contests %}
                    <div class="ui header block attached top">
                        <i class="icon clock"></i>
                        {{ _('Ongoing contests') }}
                    </div>

                    <div class="ui list relaxed segment attached bottom">
                        {% for contest in current_contests %}
                            <div class="item">
                                <div class="content">
                                    <div class="header">
                                        <a href="{{ url('contest_view', contest.key) }}">{{ contest.name }}</a>
                                    </div>
                                    <div class="time">
                                        {{ _('Ends in %(countdown)s.', countdown=as_countdown(contest.time_before_end)) }}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}

                {% if future_contests %}
                    <div class="ui header block attached top">
                        <i class="icon calendar alternate"></i>
                        <div class="content">
                            {{ _('Upcoming contests') }}
                        </div>
                    </div>

                    <div class="ui list relaxed attached bottom segment divided">
                        {% for contest in future_contests %}
                            <div class="item">
                                <div class="content">
                                    <div class="header">
                                        <a href="{{ url('contest_view', contest.key) }}">{{ contest.name }}</a>
                                    </div>
                                    <div class="time">
                                        {{ _('Starting in %(countdown)s.', countdown=as_countdown(contest.time_before_start)) }}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}

                {% if misc_config.right_banner%}
                    {{ misc_config.right_banner|safe }}
                {% endif %}

                {% if top_pp_users %}
                    {% include "blog/top-pp.html" %}
                {% endif %}
                {% if top_contrib %}
                    {% include "blog/top-contrib.html" %}
                {% endif %}
                <div class="ui header block attached top">
                    <i class="icon comment"></i>
                    <div class="content">
                        {{ _('Comment stream') }}
                        {% if misc_config.discord_invite_link and misc_config.discord_invite_shieldio %}
                            <a href="{{ misc_config.discord_invite_link }}">
                                <img src="{{ misc_config.discord_invite_shieldio }}" alt="Discord">
                            </a>
                            </span>
                        {% endif %}
                    </div>
                </div>
                <div class="ui list relaxed divided attached bottom segment">
                    {% for comment in comments %}
                        <div class="item">
                            <div class="content">
                                <div class="header">
                                    {{ link_user(comment.author) }}
                                </div>
                                <p>
                                    <i class="icon arrow right"></i>
                                    <a href="{{ comment.link }}#comment-{{ comment.id }}">{{ comment.page_title }}</a>
                                </p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <hr class="ui divider"/>
                <a href="{{ url('comment_rss') }}" class="ui label icon orange">
                    <i class="icon rss"></i>
                    RSS
                </a>
                <a href="{{ url('comment_atom') }}" class="ui label violet">
                    <i class="icon react"></i>
                    Atom
                </a>


                <div class="ui header block attached top">
                    <i class="icon puzzle"></i>
                    <div class="content">
                        {{ _('New problems') }}
                    </div>
                </div>

                <div class="ui list relaxed divided attached bottom segment">
                    {% for problem in new_problems %}
                        <div class="item">
                            <a href="{{ url('problem_detail', problem.code) }}" class="content">
                                <div class="header">
                                    {{ problem.name }}
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>

                <hr class="ui divider"/>
                <a href="{{ url('problem_rss') }}" class="ui label icon orange">
                    <i class="icon rss"></i>
                    RSS
                </a>
                <a href="{{ url('problem_atom') }}" class="ui label violet">
                    <i class="icon react"></i>
                    Atom
                </a>
            </div>
        </div>
    </div>
    {% block after_posts %}{% endblock %}
{% endblock %}

{% block bodyend %}
    {{ super() }}
    {% if REQUIRE_JAX %}
        {% include "mathjax-load.html" %}
    {% endif %}
    {% include "comments/math.html" %}
{% endblock %}
