<div class="ui header block attached top">
    <i class="icon trophy"></i>
    <div class="content">
        {{ _('Top users') }}
    </div>
</div>
<table class="users-table ui table unstackable celled attached bottom" style="margin-bottom: unset;">
    <thead>
    <tr>
        <th> #</th>
        <th>{{ _('Username') }}</th>
        <th> {{ _('Points') }} </th>
    </tr>
    </thead>
    <tbody>
    {% for user in top_pp_users %}
        <tr id="user-{{ loop.index }}">
            <td>{{ loop.index }}</td>
            <td class="user-name">
                <div style="float:left">
                    {{ link_user(user) }}
                </div>
            </td>

            <td class="user-points">
                {{ user.performance_points|floatformat(2) }}
            </td>
        </tr>
    {% endfor %}
    <tr>
        <td colspan="3">
            <a href="{{ url('organization_list') }}" class="ui button mini">
                {{ _('Organizations') }}
            </a>
            <a href="{{ url('user_list') }}" class="ui button mini primary">
                {{ _('View all') }}
                <i class="icon angle right"></i>
            </a>
        </td>
    </tr>
    </tbody>

</table>
