{% extends "common-content.html" %}
{% block description %}
    {% cache 3600 'license_html' license.id %}
        {{ license.text|markdown('license') }}
    {% endcache %}
{% endblock %}

{% block info_float %}
    <div class="ui list relaxed divided link">
        {% if perms.judge.change_license %}
            <a class="item" href="{{ url('admin:judge_license_change', license.id) }}">
                <i class="icon pencil"></i>
                {{ _('Edit') }}
            </a>
        {% endif %}
        <a class="item" href="{{ license.link }}">
            <i class="icon code"></i>
            {{ _('Visit source') }}
        </a>
    </div>
{% endblock %}
