<div class="ui pagination menu" style="margin: 10px 0">
    {% if page_obj.has_previous() %}
        {% if page_obj.previous_page_number() == 1 and first_page_href != None %}
            <a class="icon item" href="{{ first_page_href }}">
                <i class="icon angle left"></i>
            </a>
        {% else %}
            <a class="icon item"
               href="{{ page_prefix or '' }}{{ page_obj.previous_page_number() }}{{ page_suffix or '' }}">
                <i class="icon angle left"></i>
            </a>
        {% endif %}
    {% else %}
        <div class="icon item disabled"><i class="icon angle left"></i></div>
    {% endif %}

    {% for page in page_obj.page_range %}
        {% if not page %}
            <div class="item disabled">...</div>
        {% else %}
            <a class="item {% if page == page_obj.number %} active {% endif %}" href="
                {%- if page == 1 and first_page_href != None -%}
                    {{ first_page_href }}
                {%- else -%}
                    {{ page_prefix or '' }}{{ page }}{{ page_suffix or '' }}
                {%- endif -%}
            ">{{ page }}
            </a>
        {% endif %}
    {% endfor %}

    {% if page_obj.has_next() %}
        <a href="{{ page_prefix or '' }}{{ page_obj.next_page_number() }}{{ page_suffix or '' }}" class="icon item">
            <i class="icon angle right"></i>
        </a>
    {% else %}
        <div class="icon item disabled">
            <i class="icon angle right"></i>
        </div>
    {% endif %}
</div>
