<div id="{{ id|safe }}-wmd-wrapper" class="wmd-wrapper" style="margin: 10px 0">
    <div class="wmd-panel">
    <div id="{{ id|safe }}_wmd_button_bar" hidden="hidden"></div>
       <div class="markdown-body">
            <textarea{{ attrs|safe }} class="input">{{ body }}</textarea>
        </div>
    </div>

    {% if show_preview %}
        <div id="{{ id|safe }}-preview" data-preview-url="{{ preview_url }}" data-textarea-id="{{ id }}"
             data-timeout="{{ preview_timeout or '' }}"
             class="wmd-panel p-2 wmd-preview dmmd-preview {{ extra_classes }}">
            <button type="button" class="ui button dmmd-preview-update" style="width: 100%; margin: 10px 0;">
                <i class="icon refresh"></i>
                {{ _('Update preview') }}
            </button>
            <div class="content markdown-body ui segment"></div>
        </div>
    {% endif %}
</div>

