{% macro make_tab(name, fa, url, text) %}
    <div class="item{% if tab == name %} active{% endif %}">
        {%- if url %}<a href="{{ url }}">{% else %}{% endif -%}
        <span class="icon">
            <i class="tab-icon fa {{ fa }}"></i>
        </span>
        {{ text }}
        {%- if url %}</a>{% else %}{% endif -%}
    </div>
{% endmacro %}
<div class="ui top attached tabular menu" style="margin: 10px 0">
    {% if not left_align_tabs %}
        <h2>{{ content_title or title }}</h2>
        <div style="flex: 1"></div>
    {% endif %}
    {% block post_tab_spacer %}{% endblock %}
    {% block tabs %}{% endblock %}
</div>
