{% macro make_tab(name, fa, url, text) %}
    <li class="tab{% if tab == name %} is-active{% endif %}">
        {%- if url %}<a href="{{ url }}">{% else %}{% endif -%}
        <span class="icon is-small">
            <i class="tab-icon fa {{ fa }}"></i>
        </span>
        <span>
            {{ text }}
        </span>
        {%- if url %}</a>{% else %}{% endif -%}
    </li>
{% endmacro %}
<div class="tabs is-toggle">
    {% if not left_align_tabs %}
        <h2 class="has-text-weight-bold p-2 is-large is-flex-grow-1">{{ content_title or title }}</h2>
    {% endif %}
    {% block post_tab_spacer %}{% endblock %}
    <ul class="is-flex-grow-0">
        {% block tabs %}{% endblock %}
    </ul>
</div>
