<div class="sidebox">
    <h3 class="ui header block attached top">
        <i class="icon search"></i>
        <div class="content">
            {{ _('Problem search') }}
        </div>
    </h3>
    <div class="sidebox-content ui segment attached top">
        <form id="filter-form" name="form" action="" method="get" class="ui form">
            {% if selected_tag %}<input type="hidden" name="tag_id" value="{{ selected_tag }}">{% endif %}
            <div class="field">
                <label for="search">{{ _('Search') }}</label>
                <input id="search" type="text" name="search" value="{{ search_query or '' }}"
                       placeholder="{{ _('Search problems...') }}">
            </div>
            <div class="field">
                <label for="judge">{{ _('Online judges') }}</label>
                <select name="judge" class="ui search dropdown" multiple>
                    {% for id, full_name in judges %}
                        <option value="{{ id }}"{% if id in selected_judges %} selected{% endif %}>
                            {{ full_name }}
                        </option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-submit-group">
                <a id="go" class="ui button green">{{ _('Go') }}</a>
                <a id="random" class="ui button">{{ _('Random') }}</a>
                <a class="ui button basic" href="{{ url('tagproblem_list') }}">{{ _('Clear search') }}</a>
            </div>
        </form>
    </div>
    <script>
        $(function () {
            var $form = $('form#filter-form');

            $('#judges').select2({
                theme: '{{ DMOJ_SELECT2_THEME }}',
                multiple: 1,
                placeholder: '{{ _('Filter by online judge...') }}',
            }).css({'visibility': 'visible'});

            $('#go').click(function () {
                $form.submit();
            });

            $('#random').click(function (e) {
                var action = $form.attr('action');
                $form.attr('action', '{{ url('tagproblem_random') }}').attr('target', '_blank').submit();
                $form.attr('action', action).attr('target', '');
                e.preventDefault();
            });
        });
    </script>
</div>
