{% spaceless %}
    <div class="scroll-x">
        <table {% if table_id %}id="{{ table_id }}"{% endif %}
               class="ui table unstackable celled striped aligned centered">
            <thead>
            <tr class="center aligned">
                <th class="header rank" style="width: 5%;">{{ rank_header or _("Rank") }}</th>
                {% block after_rank_head %}{% endblock %}
                <th class="header username">{{ _('Username') }}</th>
                {% block before_point_head %}{% endblock %}
                <th class="header points">
                    {% block point_head %}
                        {% if sort_links %}<a href="{{ sort_links.performance_points }}">{% endif %}
                    {{ _('Points') }}
                    {%- if sort_links %}{{ sort_order.performance_points }}</a>{% endif %}
                    {% endblock %}
                </th>
                {% block after_point_head %}{% endblock %}
            </tr>
            </thead>

            <tbody>
            {% for rank, user in users %}
                <tr id="user-{{ user.user.username }}" {% block row_extra scoped %}{% endblock %}>
                    <td class="center aligned">
                        {{ rank }}
                    </td>
                    {% block after_rank scoped %}{% endblock %}
                    <td class="user-name">
                        <div style="display: flex; align-items: center; justify-content: space-between; align-items: center;">
                            <div style="float:left; margin-top: 5px;">
                                {% block user_name_display scoped %} {{ link_user(user) }} {% endblock %}
                                <div class="personal-info">
                                    {% block personal_info_display scoped %}
                                        <strong>{{ user.user.first_name }}</strong>
                                    {% endblock %}
                                </div>
                            </div>
                            <div style="float: right;">
                                {% block user_name_data scoped %}{% endblock %}
                                {% block admin_operations scoped %}{% endblock %}
                                <div class="personal-info" style="margin: 0 5px; display: flex; gap: 5px">
                                    {% block personal_info_data scoped %}
                                        {% for organization in user.organizations.all() %}
                                            <a href="{{ organization.get_absolute_url() }}" class="ui label mini black"
                                               style="display: flex; align-items: center">
                                                {% if organization.logo_override_image %}
                                                    <img alt="{{ organization.name }}"
                                                         src="{{ organization.logo_override_image }}"
                                                         class="ui image spaced"/>
                                                {% endif %}
                                                <div class="content">
                                                    {{ organization.name }}
                                                </div>
                                            </a>
                                        {% endfor %}
                                    {% endblock %}
                                </div>
                            </div>
                        </div>
                        {% block before_point scoped %}{% endblock %}
                        {% block point scoped %}
                            <td title="{{ user.performance_points|floatformat(2) }}" class="user-points center aligned">
                                {{ user.performance_points|floatformat(2) }}
                            </td>
                        {% endblock %}
                    {% block after_point scoped %}{% endblock %}
                </tr>
            {% endfor %}
            {% block after_user_list scoped %}{% endblock %}
            </tbody>
        </table>
    </div>
{% endspaceless %}
