{% extends "base.html" %}

{% block js_media %}
    {% include "blog/media-js.html" %}
{% endblock %}

{% block media %}
{% endblock %}

{% block title_row %}
    {% set tab = 'blogs' %}
    {% include "user/user-tabs.html" %}
{% endblock %}

{% block title_ruler %}{% endblock %}

{% block body %}
    {% block before_posts %}{% endblock %}
    <div id="blog-container" class="ui container">
        <div class="ui feed" style="border: unset;">
            {% for post in posts %}
                {% include "blog/blog-post.html" %}
            {% endfor %}
        </div>
        {% if page_obj.has_other_pages() %}
            <div class="bottom-pagination-bar">{% include "list-pages.html" %}</div>
        {% endif %}
    </div>
    {% block after_posts %}{% endblock %}
{% endblock %}

{% block bodyend %}
    {{ super() }}
    {% if REQUIRE_JAX %}
        {% include "mathjax-load.html" %}
    {% endif %}
    {% include "comments/math.html" %}
{% endblock %}
