{% extends "user/user-base.html" %}

{% block user_media %}
    {% include "timezone/media-css.html" %}
    {{ form.media.css }}
    {% compress css %}
        <style>
            .selector-filter img {
                display: none;
            }

            .sortedm2m-container {
                width: 100%;
            }

            .sortedm2m-container p.selector-filter {
                width: 100%;
            }

            .sortedm2m-container p.selector-filter input {
                width: 100%;
            }

            ul.sortedm2m {
                width: 100%;
            }

            ul.sortedm2m li {
                width: 100%;
            }
        </style>
    {% endcompress %}
{% endblock %}


{% block js_media %}
    {% include "timezone/media-js.html" %}
    {{ form.media.js }}
    <script type="text/javascript">
        $(function () {
            $('#ace_user_script').on('ace_load', function (e, editor) {
                editor.getSession().setMode("ace/mode/javascript");
            });

            $('#disable-2fa-button').click(function () {
                _alert("{{ _('The administrators for this site require all the staff to have Two-factor Authentication enabled, so it may not be disabled at this time.') }}");
            });

            $('#generate-api-token-button').click(function (event) {
                event.preventDefault();
                if (confirm("{{ _('Are you sure you want to generate or regenerate your API token?') }}\n"
                    + "{{ _('This will invalidate any previous API tokens.') }} "
                    + "{{ _('It also allows access to your account without Two-factor Authentication.') }}\n\n"
                    + "{{ _('You will not be able to view your API token after you leave this page!') }}")) {
                    $('#api-token').text("{{ _('Generating...') }}");

                    $.ajax({
                        type: 'POST',
                        url: $(this).attr('href'),
                        dataType: 'json',
                        success: function (data) {
                            $('#api-token').text(data.data.token);
                            $('#generate-api-token-button').html("<i class='icon refresh'></i>{{ _('Regenerate') }}");

                            // Add remove button on-the-fly
                            if ($('#remove-api-token-button').length == 0) {
                                $('#generate-api-token-button').after($('<a id="remove-api-token-button" \
                                    href="{{ url('remove_api_token') }}" \
                                    class="button inline-button ui button mini red"><i class="icon remove"></i>{{ _('Remove') }}</a>'));
                            }
                        },
                    });
                }
            });

            // Delegated event handler because the remove button may have been added on-the-fly
            $('#api-token-td').on('click', '#remove-api-token-button', function (event) {
                event.preventDefault();
                if (confirm("{{ _('Are you sure you want to remove your API token?') }}")) {
                    $.ajax({
                        type: 'POST',
                        url: $(this).attr('href'),
                        dataType: 'json',
                        success: function (data) {
                            $('#api-token').text('');
                            $('#generate-api-token-button').html("<i class='icon code'></i>{{ _('Generate') }}");
                            $('#remove-api-token-button').remove();
                        },
                    });
                }
            });
        });
    </script>
    <script>
        // This is basically impossible to write without ES6, hence separate script block.
        $(() => {
            {% include "user/webauthn-helpers.js" %}

            $('#new-webauthn').click(event => {
                event.preventDefault();

                if (typeof window.PublicKeyCredential === 'undefined') {
                    _alert('{{ _('WebAuthn is not supported by your browser.') }}');
                    return;
                }

                $.getJSON('{{ url('webauthn_attest') }}')
                    .done(publicKey => {
                        decodeJSONBytes(publicKey);
                        navigator.credentials.create({publicKey})
                            .then(credential => {
                                credential = {
                                    id: credential.id,
                                    response: {
                                        attObj: urlSafeBase64Encode(credential.response.attestationObject),
                                        clientData: urlSafeBase64Encode(credential.response.clientDataJSON),
                                    }
                                };
                                $.post('{{ url('webauthn_attest') }}', {
                                    credential: JSON.stringify(credential),
                                    name: $('#new-webauthn-name').val(),
                                })
                                    .then(() => window.location.reload())
                                    .fail((jqXHR) => _alert(jqXHR.responseText));
                            });
                    })
                    .fail(() => _alert('{{ _('Failed to contact server.') }}'));
            });

            $('.webauthn-delete').click(function (event) {
                event.preventDefault();
                if (confirm("{{ _('Are you sure you want to delete this security key?') }}")) {
                    $.post($(this).attr('data-delete-url'))
                        .then(() => window.location.reload())
                        .fail((jqXHR) => _alert(jqXHR.responseText));
                }
            });
        });
    </script>
    <script src="{{ static('libs/clipboard/clipboard.js') }}"></script>
    <script src="{{ static('libs/clipboard/tooltip.js') }}"></script>
    <script type="text/javascript">
        $(function () {
            $('#generate-scratch-codes-button').click(function (event) {
                event.preventDefault();
                if (confirm("{{ _('Are you sure you want to generate or regenerate a new set of scratch codes?') }}\n"
                    + "{{ _('This will invalidate any previous scratch codes you have.') }}\n\n"
                    + "{{ _('You will not be able to view your scratch codes after you leave this page!') }}")) {
                    $('#scratch-codes').html("<i class='ui loader active inline mini'></i>{{ _('Generating...') }}");

                    $('pre code').each(function () {
                        var copyButton;
                        $(this).parent().before($('<div>', {'class': 'copy-clipboard'})
                            .append(copyButton = $('<span>', {
                                'class': 'btn-clipboard',
                                'id': 'scratch-codes-copy-button',
                                'data-clipboard-text': '',
                                'title': '{{ _('Click to copy') }}'
                            }).html('<i class="icon copy"></i> {{ _('Copy') }}')));

                        $(copyButton.get(0)).mouseleave(function () {
                            $(this).attr('class', 'btn-clipboard');
                            $(this).removeAttr('aria-label');
                        });

                        var curClipboard = new Clipboard(copyButton.get(0));

                        curClipboard.on('success', function (e) {
                            e.clearSelection();
                            showTooltip(e.trigger, '{{ _('Copied!') }}');
                        });

                        curClipboard.on('error', function (e) {
                            showTooltip(e.trigger, fallbackMessage(e.action));
                        });
                    });

                    $.ajax({
                        type: 'POST',
                        url: $(this).attr('href'),
                        dataType: 'json',
                        success: function (data) {
                            $('#scratch-codes').text(data.data.codes.join('\n'));
                            $('#scratch-codes-copy-button').attr('data-clipboard-text', data.data.codes.join('\n'));
                            $('#generate-scratch-codes-button').html("<i class='icon refresh'></i>{{ _('Regenerate') }}");
                            $('#hidden-word').hide();
                            $('#scratch-codes-regen').show();
                        },
                    });
                }
            });
        });
    </script>
{% endblock %}

{% block title_ruler %}{% endblock %}

{% block title_row %}
    {% set tab = 'edit' %}
    {% set user = request.profile %}
    {% include "user/user-tabs.html" %}
{% endblock %}

{% block body %}
    <div class="ui container">
        <form id="edit-form" action="" method="post" class="form-area ui form">
            {% csrf_token %}
            <div class="ui grid stackable">
                <div class="column eight wide">
                    {% if form.errors %}
                        <div>
                            <div class="ui message yellow">
                                <a href="#" class="icon close">
                                    <i class="icon close"></i>
                                </a>

                                <div class="content">
                                    {{ form.non_field_errors() }}
                                    {{ form.about.errors }}
                                </div>
                            </div>
                        </div>
                    {% endif %}

                    {% if form_user.first_name %}
                        <div class="field">
                            <label>
                                {{ _('Full name') }}:
                            </label>
                            {{ form_user.first_name }}
                        </div>

                        {% if form.display_badge %}
                            <div class="field">
                                <label>
                                    {{ _('Display badge') }}:
                                </label>
                                {{ form.display_badge }}
                            </div>
                        {% endif %}
                    {% endif %}

                    {% if form.about %}
                        <div class="field">
                            <label>{{ _('Self-description:') }}</label>
                            {{ form.about }}
                        </div>
                        <hr class="ui divider">
                    {% endif %}
                    <div class="field">
                        <label class="inline-header grayed">{{ _('Time zone:') }}</label>
                        {{ form.timezone }}
                    </div>
                    <div class="field">
                        <label class="inline-header grayed">{{ _('Language:') }}</label>
                        {{ form.language }}
                    </div>
                    {% if perms.judge.test_site %}
                        <div class="field" hidden="hidden">
                            <label class="inline-header grayed">{{ _('Site theme:') }}</label>
                            {{ form.site_theme }}
                        </div>
                    {% endif %}
                    <div class="field" hidden="hidden">
                        <label class="inline-header grayed">{{ _('Editor theme:') }}</label>
                        {{ form.ace_theme }}
                    </div>
                    {% if has_math_config %}
                        <div class="field">
                            <label class="inline-header grayed">{{ _('Math engine:') }}</label>
                            {{ form.math_engine }}
                        </div>
                    {% endif %}
                </div>
                <div class="column eight wide scroll-x">
                    {% if form.organizations %}
                        <div class="field">
                            <label>
                                {{ _('Affiliated organizations') }}:
                            </label>
                            {{ form.organizations }}
                        </div>
                        <hr class="ui divider">
                    {% endif %}

                    <div class="settings" style="padding-top:0.7em">
                        <div class="pane">
                            <table>
                                {% if form.newsletter %}
                                    <tr>
                                        <td>
                                            <div class="field">
                                                <div class="ui checkbox">
                                                    {{ form.newsletter }}
                                                    <label for="id_newsletter">
                                                        {{- _('Notify me about upcoming contests') -}}
                                                    </label>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                {% endif %}
                                <tr>
                                    <td>
                                        <div class="field">
                                            <div class="ui checkbox">
                                                {{ form.test_site }}
                                                <label for="id_test_site">
                                                    {{- form.test_site.label -}}
                                                </label>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="https://www.gravatar.com/" target="_blank" class="ui button green"
                                           rel="noopener" style="width: 100%">
                                            <i class="icon picture"></i>
                                            {{ _('Change your avatar') }}
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="{{ url('password_change') }}" class="ui button" style="width: 100%">
                                            <i class="icon key"></i>
                                            {{ _('Change your password') }}
                                        </a>
                                    </td>
                                </tr>
                                {% if can_download_data %}
                                    <tr>
                                        <td>
                                            <a href="{{ url('user_prepare_data') }}" class="ui button"
                                               style="width: 100%">
                                                <i class="icon download"></i>
                                                {{ _('Download your data') }}
                                            </a>
                                        </td>
                                    </tr>
                                {% endif %}
                                <tr>
                                    <td>
                                        <div id="api-token-td" class="inline-header grayed field">
                                            <label>
                                                {{ _('API token:') }}
                                            </label>
                                            {% if profile.api_token %}
                                                <a id="generate-api-token-button" href="{{ url('generate_api_token') }}"
                                                   class="ui button mini">
                                                    <i class="icon refresh"></i>
                                                    {{ _('Regenerate') }}
                                                </a>
                                                <a id="remove-api-token-button" href="{{ url('remove_api_token') }}"
                                                   class="ui button red mini">
                                                    <i class="icon remove"></i>
                                                    {{ _('Remove') }}
                                                </a>
                                                <div class="api-token ui message" id="api-token">
                                                    {{ _('Hidden') }}
                                                </div>
                                            {% else %}
                                                <a id="generate-api-token-button" href="{{ url('generate_api_token') }}"
                                                   class="ui button mini">
                                                    <i class="icon code"></i>{{ _('Generate') }}
                                                </a>

                                                <div class="api-token ui message" id="api-token"></div>
                                            {% endif %}
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="pane">
                            <div>
                                {% if profile.is_totp_enabled %}
                                    <div class="field">
                                        <label>{{ _('Two-factor authentication is enabled:') }}</label>
                                        <div class="ui buttons basic">
                                            {% if require_staff_2fa and request.user.is_staff and not profile.is_webauthn_enabled %}
                                                <a id="disable-2fa-button" class="ui button">{{ _('Disable') }}</a>
                                            {% else %}
                                                <a href="{{ url('disable_2fa') }}"
                                                   class="ui button">{{ _('Disable') }}</a>
                                            {% endif %}
                                            <a href="{{ url('refresh_2fa') }}" class="ui button">
                                                {{ _('Refresh') }}
                                            </a>
                                        </div>
                                    </div>

                                    <div class="field">
                                        <label>
                                            {{ _('Scratch codes:') }}
                                        </label>

                                        {% if profile.scratch_codes %}
                                            <a id="generate-scratch-codes-button"
                                               href="{{ url('generate_scratch_codes') }}"
                                               class="ui button">
                                                <i class="icon refresh"></i>
                                                {{ _('Regenerate') }}
                                            </a>
                                            <div id="hidden-word" class="ui message">{{ _('Hidden') }}</div>
                                        {% else %}
                                            <a id="generate-scratch-codes-button"
                                               href="{{ url('generate_scratch_codes') }}"
                                               class="ui button inline-button">{{ _('Generate') }}</a>
                                        {% endif %}
                                        <div style="display: none" id="scratch-codes-regen" class="markdown-body">
                                            <p id="scratch-codes-text">
                                                {{ _('Below is a list of one-time use scratch codes.') }}
                                                {{ _('These codes can only be used once and are for emergency use.') }}
                                                {{ _('You can use these codes to login to your account or disable two-factor authentication.') }}
                                                {{ _('If you ever need more scratch codes, you can regenerate them here.') }}
                                                {{ _('Please write these down and keep them in a secure location.') }}<br><br>
                                                {{ _('You will not be able to view your scratch codes after you leave this page!') }}
                                            </p>
                                            <pre><code id="scratch-codes"></code></pre>
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="field">
                                        <label>
                                            {{ _('Two-factor Authentication is disabled:') }}
                                        </label>
                                        <a href="{{ url('enable_2fa') }}" class="ui button primary mini">
                                            <i class="icon key"></i>
                                            {{ _('Enable') }}
                                        </a>
                                    </div>
                                {% endif %}
                            </div>
                            <span class="grayed">
                    {% if HAS_WEBAUTHN %}
                        <div style="padding-bottom:0.4em" class="block-header grayed">
                            {{- _('Security keys:') -}}
                        </div>
                        <table class="table">
                            {% if profile.is_webauthn_enabled %}
                                {% for credential in profile.webauthn_credentials.all() %}
                                    <tr>
                                        <td>{{ credential.name }}</td>
                                        <td>
                                            <button class="webauthn-delete inline-button ui button mini red"
                                                    data-delete-url="{{ url('webauthn_delete', credential.id) }}">
                                                <i class="icon remove"></i>
                                                {{ _('Delete') }}
                                            </button>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                            <tr>
                                <td>
                                    <input id="new-webauthn-name" type="text"
                                           placeholder="{{ _('Enter a name for this key') }}">
                                </td>
                                <td>
                                    <button id="new-webauthn" class="inline-button">{{ _('Add') }}</button>
                                </td>
                            </tr>
                        </table>
                    {% endif %}
                    </span>
                        </div>
                    </div>

                </div>
            </div>

            <hr class="ui divider">

            <input type="submit" class="submit-bar ui button primary" value="{{ _('Update profile') }}">
        </form>
    </div>
{% endblock %}
